.container {
  width: 1110px;
  margin: 0 auto;

  @media screen and (max-width: $media-1100) {
    width: 100%;
    padding: 0 20px;
  }
}

.container-back {
  width: 1110px;
  margin: 0 auto;

  @media screen and (max-width: $media-1100) {
    width: 100%;
  }
}

.title-black {
  font-size: 40px;
  color: #000;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #437c90;
  padding-bottom: 20px;

  @media screen and (max-width: $media-1100) {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

.title-white {
  font-size: 40px;
  color: #fff;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;

  @media screen and (max-width: $media-1100) {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 10px;
  }
}

.button {
  border-radius: 5px;
  font-weight: 700;
  font-family: "Calibri";
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: baseline;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #adadad;
    border-radius: 5px;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    z-index: 1;
  }
}

.button:hover {
  background-color: #779020;
  color: #fff;
  transition: 0.4s;

  &::after {
    transform: rotate(-4deg);
    opacity: 1;
  }
}

.button-green {
  background: $color-green;
  padding: 20px 46px;
  font-size: 16px;
  color: #ffffff;
  line-height: 20px;
  max-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-gray {
  background: #f0f0f0;
  padding: 15px 26px;
  font-size: 13px;
  color: #000000;
  line-height: 15px;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: 1px solid #adadad;
    border-radius: 5px;
    position: absolute;
    transition: 0.3s;
    opacity: 0;
    z-index: -1;
  }
}

.button-gray:hover {
  background-color: #779020;
  color: #16171d;
  transition: 0.4s;

  &::after {
    transform: rotate(-4deg);
    opacity: 1;
  }
}

.button-transparent {
  background: transparent;
  padding: 15px 26px;
  font-size: 13px;
  color: #000000;
  line-height: 15px;
  border: 1px solid #adadad;
}

.button-transparent:hover {
  background: #779020;
  color: #16171d;
  transition: 0.4s;
  border: none;
}

.button-green-border {
  background: transparent;
  padding: 20px 26px;
  font-size: 13px;
  color: #000000;
  line-height: 15px;
  border: 1px solid $color-green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.input {
  background: #ffffff;
  border-radius: 5px;
  padding: 26px 15px;
  border: 1px solid #ffffff;
  outline: none;
  width: 350px;
  box-sizing: border-box;

  &::placeholder {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
  }

  @media screen and (max-width: $media-1100) {
    width: 100%;
    padding: 20px 15px;
  }
}

.advertising-blocks {
  max-width: 255px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 40px;
  position: relative;

  @media screen and (max-width: $media-1100) {
    margin-bottom: 30px;
    max-width: 100%;
  }

  img {
    width: 100%;
  }

  .advertising {
    background: #f56476;
    padding: 8px 12px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    max-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-size: 13px;
      color: #fff;
      line-height: 15px;
    }
  }

  .translator {
    background: #fff;
    padding: 5px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    max-height: 24px;
  }

  a {
    img {
      transition: 0.3s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .text {
    margin-top: 20px;
    .text-top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .text-top-right {
        margin-left: 20px;

        @media screen and (max-width: $media-1100) {
          margin: 0;
        }

        .text-top-title {
          display: block;
          font-size: 16px;
          line-height: 16px;
          color: #000;
          font-weight: 400;

          transition: 0.3s;

          &:hover {
            color: $color-green;
          }
        }
      }
    }

    .text-paragraph {
      margin-top: 20px;
      font-size: 14px;
      color: #646464;
      line-height: 17px;
      font-weight: 400;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      height: 50px;
      overflow: hidden;
    }

    .button-green {
      margin-top: 20px;
      font-size: 13px;
      line-height: 15px;
      padding: 15px 26px;
      max-height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text-bottom {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        color: #adadad;
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
      }
    }
  }
}

.advertising-blocks-mobile {
  max-width: 100%;
  border-top: 1px solid #d1d1d1;
  padding: 15px 0 30px;
  position: relative;

  @media screen and (max-width: $media-1100) {
    max-width: 100%;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &_advertising {
      background: #f56476;
      padding: 8px 12px;
      display: inline-block;
      max-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        font-size: 13px;
        color: #fff;
        line-height: 15px;
      }
    }

    &_translator {
      background: #eeeeee;
      padding: 5px;
      display: inline-block;
      max-height: 24px;
    }
  }

  &__text {
    margin-top: 20px;

    &_title {
      font-size: 16px;
      line-height: 16px;
      font-weight: 400;
      color: #000;

      transition: 0.3s;

      &:hover {
        color: $color-green;
      }
    }
  }

  &__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: #adadad;
      font-size: 13px;
      line-height: 15px;
      font-weight: 400;
    }
  }
}

.advertising-blocks-mobile-two {
  display: flex;
  align-items: flex-start;

  margin-bottom: 30px;

  &__img {
    position: relative;

    .number {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      font-weight: 700;
      line-height: 40px;
      color: #fff;
    }
  }

  .advertising-blocks-mobile {
    border: none;
    margin: 0 0 0 10px;
    padding: 0;

    .one {
      margin-top: 20px;
    }

    .advertising-one {
      background: #437c90;
    }

    &__text {
      margin-top: 10px;

      &_title {
        font-size: 14px;
        line-height: 14px;
        max-height: 37px;

        transition: 0.3s;

        &:hover {
          color: $color-green;
        }
      }
    }

    &__bottom {
      margin-top: 10px;
      max-height: 8px;
    }
  }
}

.advertising-blocks-three {
  background: #f0f0f0;
  margin-bottom: 30px;

  .top-flex {
    display: flex;

    .left-img {
      padding: 10px 0 0 13px;
    }

    .content {
      margin-left: 22px;

      .content-top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .advertising {
          background: #e29d8a;
          padding: 8px 12px;
          display: inline-block;
          max-height: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          span {
            font-size: 13px;
            color: #fff;
            line-height: 15px;
          }
        }

        .translator {
          background: #fff;
          padding: 5px;
          display: inline-block;
          max-height: 24px;
        }
      }

      .info {
        h6 {
          font-size: 16px;
          line-height: 16px;
          font-weight: 400;
          color: #000;
          margin-top: 15px;
        }

        p {
          font-size: 13px;
          line-height: 15px;
          font-weight: 400;
          color: #646464;
          margin-top: 10px;
        }
      }
    }
  }

  .text-bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 13px;

    span {
      color: #adadad;
      font-size: 13px;
      line-height: 15px;
      font-weight: 400;
    }
  }
}

.button-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
  position: fixed;
  bottom: 25px;
  right: 10px;
  height: 40px;
  width: 40px;
  z-index: 99;
  border: none;
  outline: none;
  background: $color-green;
  cursor: pointer;
  padding: 12px 14px;
  border-radius: 3px;
  transition: 0.3s;
  text-align: center;
  font-size: 20px;
  color: #fff;
  line-height: 1em;

  &:hover {
    background: #5a6e1d;
  }
}
