@import "./reset";
@import "./variables";
@import "./ui";
@import "./blocks/header";
@import "./blocks/navigation";
@import "./blocks/partners";
@import "./blocks/courses";
@import "./blocks/blog-entries";
@import "./blocks/nearest-courses";
@import "./blocks/subscription";
@import "./blocks/our-channel";
@import "./blocks/book";
@import "./blocks/shop";
@import "./blocks/last-records";
@import "./blocks/events";
@import "./blocks/reviews";
@import "./blocks/consultant";
@import "./blocks/form";
@import "./blocks/help";
@import "./blocks/exhibitions";
@import "./blocks/for-advertisers";
@import "./blocks/our-partners";
@import "./blocks/footer";

@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Calibri";
  src: url("../fonts/calibri_bold.ttf") format("woff2");
  font-weight: 700;
  font-style: bold;
}
