$color-1-red: #dc0c1c;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

picture {
  display: block;
}

iframe {
  max-width: 100%;
}

input,
select,
textarea,
button {
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: #fff;
}

body.scroll-lock {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  width: 1140px;
  margin: 0 auto;

  @media screen and (max-width: 1180px) {
    width: 100%;
    padding: 0 40px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 57px 0 10px;

  @media screen and (max-width: 1180px) {
    display: none;
  }

  .logo {
    display: block;
  }

  .language {
    position: relative;
    z-index: 2;

    &__items {
      display: none;
      list-style: none;
      position: absolute;
      top: 35px;
      left: 0;
      width: 100%;
    }

    &__items_active {
      opacity: 1;
      display: block;
    }

    &__item {
      opacity: 1;
      height: auto;
      min-width: 40px;
      padding: 10px;
      background-color: #f1f1f1;
      border-radius: 10px;
      cursor: pointer;

      svg {
        margin-left: 5px;
      }

      &:hover {
        color: $color-1-red;

        a {
          color: $color-1-red;
        }
      }
    }

    &__item_active {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
  }
}

.main {
  background-image: url(../img/main-bg.png);
  background-size: 100% 100%;
  height: 100%;
  min-height: 780px;
  color: #fff;
  position: relative;

  @media screen and (max-width: 1180px) {
    min-height: 634px;
  }

  @media screen and (max-width: 500px) {
    min-height: 740px;
    width: 100%;
    background-image: url(../img/main-bg-mobile.png);
  }

  .main-header {
    display: none;

    @media screen and (max-width: 1180px) {
      display: block;
      padding: 25px 0;
      border-bottom: 1px solid #ffffff;
      min-width: 100%;
    }

    .language {
      @media screen and (max-width: 1180px) {
        display: flex;
        align-items: center;
        margin-top: 10px;

        .item {
          color: #fff;
        }

        .item:last-of-type {
          margin-left: 12px;
        }

        .item.active {
          border-bottom: 1px solid #ffffff;
        }
      }
    }
  }

  &__content {
    padding-top: 60px;

    @media screen and (max-width: 1180px) {
      padding: 0;
    }

    .title {
      margin: 0;
      font-size: 42px;
      font-weight: 700;
      line-height: 46px;
      max-width: 574px;

      @media screen and (max-width: 1180px) {
        margin-top: 35px;
        line-height: 39px;
        font-size: 36px;
      }

      @media screen and (max-width: 768px) {
        margin-top: 30px;
        line-height: 30px;
        font-size: 28px;
      }
    }

    .subtitle {
      margin: 35px 0 0;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      display: block;
      max-width: 574px;

      @media screen and (max-width: 1180px) {
        line-height: 19px;
        font-size: 16px;
        margin-top: 25px;
      }

      @media screen and (max-width: 768px) {
        min-width: 327px;
        width: 100%;
      }
    }

    .paragraph {
      margin: 15px 0 0;
      font-size: 14px;
      font-weight: 500;
      line-height: 16px;
      max-width: 574px;

      @media screen and (max-width: 1180px) {
        margin-top: 10px;
      }
    }

    .button-position {
      margin-top: 45px;
      max-width: 574px;
    }

    .bottom-box {
      position: absolute;
      bottom: 0;
      display: flex;

      @media screen and (max-width: 1180px) {
        display: none;
      }

      &__block {
        border: 1px solid #ffffff;
        padding: 31px 22px;
        border-bottom: none;
        text-align: center;
        transition: 0.3s;
        min-width: 190px;

        &:hover {
          background: #141414;
        }

        &_icon {
          border: 1px solid #ffffff;
          padding: 7px;
        }

        &_text {
          font-size: 14px;
          font-weight: 500;
          line-height: 19px;
          margin-top: 20px;
        }
      }
    }
  }
}

.about-us {
  margin-top: 100px;

  @media screen and (max-width: 1180px) {
    margin-top: 55px;
  }

  @media screen and (max-width: 500px) {
    margin-top: 60px;
  }

  h6 {
    color: #333333;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;

    @media screen and (max-width: 500px) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  p {
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    @media screen and (max-width: 500px) {
      font-size: 14px;
      line-height: 18px;
    }

    b {
      color: $color-1-red;
      font-weight: 600;
    }
  }

  .button {
    margin-top: 35px;
  }

  &__top {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
    }

    @media screen and (max-width: 500px) {
      margin-top: 15px;
    }

    .button-mobile {
      display: none;

      @media screen and (max-width: 1180px) {
        display: block;
      }
    }

    .button-desktop {
      @media screen and (max-width: 1180px) {
        display: none;
      }
    }

    &_left {
      margin-right: 90px;
      max-width: 501px;

      @media screen and (max-width: 1180px) {
        margin: 0;
      }

      @media screen and (max-width: 500px) {
        max-width: 100%;
      }
    }

    &_right {
      max-width: 542px;

      @media screen and (max-width: 1180px) {
        margin-top: 25px;
      }
    }
  }

  &__bottom {
    margin-top: 107px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      margin-top: 75px;
    }

    h6 {
      @media screen and (max-width: 1180px) {
        width: 100%;
        min-width: 606px;
      }

      @media screen and (max-width: 768px) {
        width: 100%;
        min-width: 106px;
      }
    }

    &_left {
      margin-right: 90px;
      max-width: 501px;

      @media screen and (max-width: 1180px) {
        margin: 0;
      }

      p {
        margin-top: 35px;
        max-width: 440px;

        @media screen and (max-width: 1180px) {
          margin-top: 25px;
        }
      }
    }

    &_right {
      max-width: 481px;

      .bottom-text {
        margin-top: 30px;
        max-width: 470px;

        @media screen and (max-width: 1180px) {
          margin-top: 20px;
        }

        @media screen and (max-width: 500px) {
          margin-top: 15px;
        }
      }

      p {
        @media screen and (max-width: 1180px) {
          margin-top: 20px;
        }
      }
    }

    p {
      font-size: 14px;
      line-height: 19px;

      @media screen and (max-width: 500px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

.advantages {
  background: #f6f6f6;
  margin-top: 100px;
  padding: 100px 0;

  @media screen and (max-width: 1180px) {
    margin-top: 50px;
    padding: 46px 0;
  }

  @media screen and (max-width: 500px) {
    margin-top: 40px;
    padding: 38px 0;
  }

  .section-subtitle {
    color: #333333;
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    margin-top: 35px;
    max-width: 527px;

    @media screen and (max-width: 1180px) {
      margin-top: 15px;
    }

    @media screen and (max-width: 500px) {
      font-size: 22px;
      line-height: 26px;
    }
  }

  .aside-box {
    margin-top: 50px;
    display: flex;
    align-items: flex-start;

    @media screen and (max-width: 1180px) {
      margin-top: 25px;
      flex-direction: column;
    }

    .paragraph {
      font-size: 16px;
      color: #333333;
      font-weight: 400;
      line-height: 21px;

      @media screen and (max-width: 500px) {
        font-size: 14px;
        line-height: 19px;
      }

      b {
        font-weight: 600;
        color: $color-1-red;
      }
    }

    &__left {
      margin-right: 150px;
      max-width: 440px;

      @media screen and (max-width: 1180px) {
        max-width: 590px;
        margin: 0;
      }

      .paragraph {
        margin-bottom: 15px;

        @media screen and (max-width: 1180px) {
          margin-bottom: 10px;
        }
      }
    }

    &__right {
      max-width: 436px;

      @media screen and (max-width: 1180px) {
        max-width: 660px;
      }

      .paragraph {
        font-size: 14px;
        line-height: 19px;

        @media screen and (max-width: 500px) {
          margin-top: 12px;
          line-height: 16px;
        }
      }
    }
  }

  .advantages-content-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      margin-top: 20px;
    }

    .item {
      border-bottom: 1px solid #b0b0b0;
      max-width: 355px;
      margin-top: 55px;
      padding-bottom: 10px;
      width: 100%;

      @media screen and (max-width: 1180px) {
        max-width: 240px;
        width: 100%;
        margin-top: 35px;
      }

      @media screen and (max-width: 500px) {
        max-width: 100%;
        margin-top: 25px;
      }

      h6 {
        color: $color-1-red;
        font-size: 48px;
        line-height: 57px;
        font-weight: 400;

        @media screen and (max-width: 1180px) {
          font-size: 42px;
          line-height: 50px;
        }
      }

      p {
        color: #333333;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        margin-top: 10px;

        @media screen and (max-width: 1180px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  .services-box-text {
    margin-top: 100px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 75px;
    }

    .title {
      font-size: 32px;
      line-height: 38px;
      color: #333333;
      font-weight: 700;
      max-width: 532px;
      margin-right: 58px;

      @media screen and (max-width: 1180px) {
        margin: 0;
        font-size: 22px;
        line-height: 26px;
      }
    }

    .paragraph {
      font-size: 16px;
      line-height: 20px;
      color: #333333;
      font-weight: 400;
      max-width: 530px;

      @media screen and (max-width: 1180px) {
        margin-top: 25px;
        font-size: 14px;
        line-height: 18px;
      }

      b {
        color: $color-1-red;
        font-weight: 500;
      }
    }
  }

  .services-box {
    margin-top: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      margin-top: 20px;
    }

    .item {
      max-width: 325px;

      @media screen and (max-width: 1180px) {
        flex-direction: column;
        margin-top: 25px;
        max-width: 440px;
      }

      .number {
        font-size: 36px;
        font-weight: 400;
        line-height: 43px;
        color: $color-1-red;

        @media screen and (max-width: 500px) {
          font-size: 32px;
          line-height: 38px;
        }
      }

      .text {
        color: #333333;
      }

      .middle-text {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        margin-top: 10px;

        @media screen and (max-width: 500px) {
          font-size: 18px;
          line-height: 21px;
          margin-top: 5px;
        }
      }

      .bottom-text {
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        margin-top: 15px;

        @media screen and (max-width: 500px) {
          font-size: 12px;
          line-height: 16px;
          margin-top: 10px;
        }
      }
    }

    .last {
      max-width: 328px;

      @media screen and (max-width: 1180px) {
        max-width: 440px;
      }
    }
  }

  .button {
    margin-top: 35px;
  }
}

.directions {
  margin-top: 100px;

  .section-subtitle {
    max-width: 560px;

    @media screen and (max-width: 1180px) {
      max-width: 100%;
    }
  }

  .directions-top {
    margin-top: 35px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      margin-top: 25px;
    }

    &__left {
      margin-right: 150px;

      @media screen and (max-width: 1180px) {
        margin: 0;
      }

      .paragraph {
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        font-weight: 400;
        max-width: 440px;

        @media screen and (max-width: 1180px) {
          max-width: 600px;
        }

        b {
          font-weight: 500;
          color: $color-1-red;
        }
      }
    }

    &__right {
      @media screen and (max-width: 1180px) {
        margin-top: 20px;
      }

      .paragraph {
        font-size: 14px;
        line-height: 16px;
        color: #333333;
        font-weight: 400;
        max-width: 549px;

        @media screen and (max-width: 1180px) {
          max-width: 560px;
        }
      }

      .bottom-paragraph {
        margin-top: 15px;
      }
    }
  }

  .directions-box {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      display: block;
      margin-top: 45px;
    }

    .item {
      padding: 37px 70px 36px 72px;
      background: #f6f6f6;
      max-width: 353px;
      margin-top: 40px;

      @media screen and (max-width: 1180px) {
        padding: 30px 39px 30px 35px;
        max-width: 238px;
      }

      @media screen and (max-width: 500px) {
        padding: 30px 39px 30px 40px;
        max-width: 100%;
        margin-top: 15px;
      }

      .text {
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        font-weight: 600;
        margin-top: 15px;

        @media screen and (max-width: 1180px) {
          font-size: 18px;
          line-height: 21px;
        }
      }

      a {
        font-size: 16px;
        line-height: 19px;
        color: $color-1-red;
        font-weight: 700;
        margin-top: 35px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1180px) {
          margin-top: 25px;
          font-size: 14px;
          line-height: 16px;
        }

        img {
          margin-left: 15px;
        }
      }
    }
  }

  .button {
    margin-top: 35px;
  }
}

.why-us {
  background: #f6f6f6;
  padding: 80px 0;
  margin-top: 100px;

  @media screen and (max-width: 1180px) {
    padding: 45px 0;
    margin-top: 50px;
  }

  @media screen and (max-width: 500px) {
    padding: 38px 0;
    margin-top: 40px;
  }

  .section-subtitle-mobile {
    display: none;

    @media screen and (max-width: 1180px) {
      display: block;
      margin-top: 15px;
      max-width: 514px;
    }
  }

  .why-us-top {
    display: flex;
    align-items: flex-start;
    margin-top: 35px;

    @media screen and (max-width: 1180px) {
      flex-direction: column-reverse;
      margin-top: 25px;
    }

    &__left {
      margin-right: 184px;

      @media screen and (max-width: 1180px) {
        margin: 0;
      }

      .section-subtitle {
        margin: 0;
      }

      .section-subtitle-desktop {
        @media screen and (max-width: 1180px) {
          display: none;
        }
      }

      .reviews {
        display: flex;
        align-items: center;
        color: $color-1-red;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;

        @media screen and (max-width: 500px) {
          font-size: 14px;
          line-height: 16px;
        }

        img {
          margin-right: 14px;
        }
      }
    }

    &__right {
      max-width: 550px;

      .paragraph {
        font-size: 16px;
        color: #333333;
        font-weight: 400;
        line-height: 21px;

        @media screen and (max-width: 500px) {
          font-size: 14px;
          line-height: 19px;
        }

        b {
          font-weight: 600;
          color: $color-1-red;
        }
      }
    }
  }

  .why-us-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media screen and (max-width: 1180px) {
      margin-top: 20px;
    }

    .item {
      border-bottom: 1px solid #b0b0b0;
      max-width: 355px;
      margin-top: 55px;
      padding-bottom: 10px;
      width: 100%;

      @media screen and (max-width: 1180px) {
        max-width: 240px;
        width: 100%;
        margin-top: 35px;
      }

      @media screen and (max-width: 500px) {
        max-width: 100%;
        margin-top: 25px;
      }

      h6 {
        color: $color-1-red;
        font-size: 48px;
        line-height: 57px;
        font-weight: 400;

        @media screen and (max-width: 1180px) {
          font-size: 42px;
          line-height: 50px;
        }
      }

      p {
        color: #333333;
        font-size: 18px;
        line-height: 21px;
        font-weight: 500;
        margin-top: 10px;

        @media screen and (max-width: 1180px) {
          font-size: 16px;
          line-height: 19px;
        }
      }
    }
  }

  .why-us-bottom {
    margin-top: 100px;

    @media screen and (max-width: 1180px) {
      margin-top: 75px;
    }

    .section-subtitle {
      margin: 0;
      max-width: 406px;
    }

    .why-us-bottom-flex {
      margin-top: 25px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;

      @media screen and (max-width: 1180px) {
        margin-top: 10px;
      }

      @media screen and (max-width: 768px) {
        margin: 0;
      }

      .item {
        width: 30%;
        margin-top: 50px;

        @media screen and (max-width: 1180px) {
          width: 40%;
          margin-top: 35px;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-top: 25px;
        }

        .text {
          margin-top: 15px;
          font-size: 18px;
          line-height: 24px;
          color: #333333;
          font-weight: 500;
        }
      }
    }
  }
}

.license {
  margin-top: 100px;

  @media screen and (max-width: 1180px) {
    margin-top: 45px;
  }

  .section-subtitle {
    max-width: 664px;
  }

  .license-flex {
    margin-top: 60px;

    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }

    .item {
      img {
        width: 100%;
      }
    }
  }

  .swiper-button-next::after {
    content: "";
  }

  .swiper-button-prev::after {
    content: "";
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 25px;
    height: 25px;
    background: #e8e8e8;
    border-radius: 50%;
  }

  .service {
    margin-top: 100px;

    @media screen and (max-width: 1180px) {
      margin-top: 75px;
    }

    .service-box {
      margin-top: 35px;
      display: flex;
      align-items: center;

      @media screen and (max-width: 1180px) {
        flex-direction: column;
        margin-top: 25px;
        align-items: flex-start;
      }

      .paragraph {
        font-size: 16px;
        color: #333333;
        font-weight: 400;
        line-height: 21px;

        @media screen and (max-width: 500px) {
          font-size: 14px;
          line-height: 19px;
        }

        b {
          font-weight: 600;
          color: $color-1-red;
        }
      }

      &__left {
        max-width: 440px;
        margin-right: 150px;

        @media screen and (max-width: 1180px) {
          margin: 0;
          max-width: 658px;
        }
      }

      &__right {
        max-width: 530px;

        @media screen and (max-width: 1180px) {
          margin-top: 20px;
          max-width: 624px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 10px;
          max-width: 624px;
        }
      }
    }
  }
}

.cases {
  background: #f6f6f6;
  margin-top: 100px;
  padding: 100px 0;
  position: relative;

  @media screen and (max-width: 1180px) {
    padding: 45px 0;
  }

  .section-subtitle {
    max-width: 438px;

    @media screen and (max-width: 1180px) {
      max-width: 509px;
    }
  }

  .cases-swiper {
    margin-top: 60px;
    position: static;

    @media screen and (max-width: 1180px) {
      margin-top: 45px;
    }

    @media screen and (max-width: 500px) {
      margin-top: 70px;
    }

    .item-box {
      .title {
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        font-weight: 600;
        max-width: 509px;

        @media screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 21px;
        }
      }
      .item-box-top {
        margin-top: 50px;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1180px) {
          justify-content: space-between;
        }

        @media screen and (max-width: 768px) {
          flex-direction: column;
          align-items: flex-start;
          margin-top: 10px;
        }

        .item {
          display: flex;
          align-items: center;
          margin-right: 30px;

          @media screen and (max-width: 768px) {
            margin-top: 15px;
          }

          .text {
            max-width: 236px;
            margin-left: 15px;
            font-size: 16px;
            line-height: 19px;
            font-weight: 500;
            color: #333333;

            @media screen and (max-width: 768px) {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }

      .item-box-bottom {
        margin-top: 45px;
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 1180px) {
          flex-direction: column;
        }

        .title {
          font-size: 14px;
          font-weight: 500;
          line-height: 16px;
          color: $color-1-red;

          @media screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 14px;
          }
        }

        .paragraph {
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          color: #333333;
          margin-top: 10px;

          @media screen and (max-width: 768px) {
            font-size: 12px;
            line-height: 16px;
          }
        }

        &__left {
          max-width: 550px;

          @media screen and (max-width: 1180px) {
            max-width: 100%;
          }

          @media screen and (max-width: 500px) {
            display: flex;
            flex-direction: column-reverse;
          }

          .paragraph {
            max-width: 530px;

            @media screen and (max-width: 1180px) {
              max-width: 560px;
            }
          }

          img {
            display: block;
            width: 550px;
            margin-top: 35px;

            @media screen and (max-width: 1180px) {
              width: 768px;
            }

            @media screen and (max-width: 500px) {
              width: 100%;
              margin-top: 25px;
            }
          }
        }

        &__right {
          max-width: 504px;
          margin-left: 40px;

          @media screen and (max-width: 1180px) {
            margin: 25px 0 0;
            max-width: 598px;
          }

          .list {
            margin: 10px 0 30px;
            padding-left: 5px;
            .list-item {
              list-style: none;
              font-size: 14px;
              line-height: 18px;
              font-weight: 400;
              color: #333333;
            }
          }

          .button-position {
            margin-top: 40px;

            .button-tranparent {
              color: #333333;
              border: 2px solid #333333;
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 40px;

    @media screen and (max-width: 1180px) {
      bottom: 10px;
    }

    @media screen and (max-width: 500px) {
      bottom: auto;
      top: 160px;
    }

    .swiper-pagination-bullet {
      background: #333333;
      cursor: pointer;
    }
  }
}

.customers {
  margin-top: 100px;

  @media screen and (max-width: 1180px) {
    margin-top: 46px;
  }

  @media screen and (max-width: 768px) {
    margin-top: 38px;
  }

  .section-subtitle {
    max-width: 387px;

    @media screen and (max-width: 1180px) {
      max-width: 630px;
    }
  }

  .customers-box {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      margin-top: 45px;
    }

    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
      margin-top: 5px;
    }

    .item {
      background: #f6f6f6;
      width: 255px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 45px 60px;
      max-height: 150px;
      min-height: 150px;

      img {
        object-fit: cover;
        height: 100%;
        margin: 0 auto;
        display: block;
      }

      @media screen and (max-width: 1180px) {
        max-height: 100px;
        min-height: 100px;
        width: 180px;
        padding: 25px 35px;
      }

      @media screen and (max-width: 768px) {
        width: 150px;
        max-height: 90px;
        min-height: 90px;
        margin-top: 20px;
      }

      @media screen and (max-width: 389px) {
        width: 100%;
        max-width: auto;
        min-height: 110px;
      }
    }
  }
}

.faq {
  margin-top: 100px;

  .faq-container {
    margin-top: 45px;

    @media screen and (max-width: 768px) {
      margin-top: 25px;
    }

    .faq-item {
      position: relative;
      margin-top: 0;
      border: none;
      border-top: 1px solid #b0b0b0;
      background: transparent;
      padding: 25px 0 10px;

      .faq-top {
        cursor: pointer;

        .title {
          font-size: 24px;
          line-height: 28px;
          color: #333333;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            font-size: 18px;
            line-height: 21px;
          }

          br {
            display: none;

            @media screen and (max-width: 768px) {
              display: block;
            }
          }
        }
      }

      .answer {
        max-width: 296px;
        font-size: 14px;
        line-height: 18px;
        color: #333333;
        font-weight: 400;
        padding-top: 15px;

        @media screen and (max-width: 768px) {
          font-size: 12px;
          line-height: 15px;
          max-width: 254px;
          padding-top: 10px;
        }
      }

      .close {
        position: absolute;
        right: 20px;
        top: 15px;
        cursor: pointer;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        background: transparent;
        transition: 0.3s;

        @media screen and (max-width: 768px) {
          width: 25px;
          height: 25px;
          right: 5px;
          top: 23px;
        }

        .first,
        .second {
          position: absolute;
          width: 4px;
          height: 25px;
          background: #333333;
          display: block;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;

          @media screen and (max-width: 768px) {
            height: 15px;
            width: 2px;
          }
        }

        .first {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }
    }

    .faq-item:last-of-type {
      border-bottom: 1px solid #b0b0b0;
    }

    .faq-item.is-active {
      padding: 25px 0 25px;

      .close {
        background-color: $color-1-red;

        @media screen and (max-width: 768px) {
          top: 15px;
        }

        .first,
        .second {
          background: #fff;
        }

        .first {
          transform: translate(-50%, -50%) rotate(45deg);
        }

        .second {
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  }
}

.blog {
  margin-top: 100px;

  .section-subtitle {
    max-width: 501px;
  }

  .blog-wrapper {
    margin-top: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1180px) {
      margin-top: 45px;
    }

    @media screen and (max-width: 768px) {
      margin-top: 25px;
      flex-direction: column;
    }

    .item {
      border-top: 1px solid #b0b0b0;
      padding-top: 30px;

      .title {
        font-size: 24px;
        line-height: 28px;
        font-weight: 600;
        color: #333333;

        @media screen and (max-width: 768px) {
          font-size: 18px;
          line-height: 21px;
          max-width: 285px;
        }
      }

      .item-block {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 1180px) {
          margin-top: 25px;
        }

        @media screen and (max-width: 768px) {
          margin-top: 15px;
        }

        span {
          margin-top: 10px;
          display: block;
        }
      }

      .img-blog {
        margin-top: 45px;
        width: 100%;

        @media screen and (max-width: 1180px) {
          margin-top: 25px;
        }
      }
    }

    .item:last-of-type {
      margin-left: 40px;

      @media screen and (max-width: 1180px) {
        margin-left: 30px;
      }

      @media screen and (max-width: 768px) {
        margin: 25px 0 0;
      }
    }
  }

  .button {
    margin-top: 35px;
  }
}

.offers {
  margin-top: 100px;
  padding: 100px 0;
  background: #f6f6f6;

  @media screen and (max-width: 1180px) {
    margin-top: 50px;
    padding: 46px 0;
  }

  @media screen and (max-width: 768px) {
    margin-top: 75px;
    padding: 38px 0;
  }

  .section-subtitle {
    max-width: 631px;
  }

  .touch {
    color: #333333;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin-top: 15px;

    @media screen and (max-width: 500px) {
      font-size: 16px;
      line-height: 21px;
    }

    a {
      color: $color-1-red;
      text-decoration: underline;
    }
  }

  .button {
    margin-top: 35px;
  }
}

.footer {
  background: #333333;
  padding: 100px 0;
  position: relative;

  .footer-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    .title {
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 13px;
    }

    &__left {
      @media screen and (max-width: 1180px) {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 60px;
      }

      .text {
        font-size: 10px;
        line-height: 13px;
        font-weight: 400;
        color: #fff;
        max-width: 140px;
      }

      .partners {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        align-items: center;

        @media screen and (max-width: 1180px) {
          display: flex;
          align-items: flex-end;
          justify-content: space-between;
          flex-wrap: nowrap;
          width: 50%;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          align-items: center;
        }

        .item {
          width: 40%;
          margin-top: 20px;

          @media screen and (max-width: 1180px) {
            margin: 0 0 0 30px;
          }

          @media screen and (max-width: 768px) {
            margin: 0 30px 0 0;
          }
        }
      }
    }

    &__services {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1180px) {
        width: 50%;
      }

      @media screen and (max-width: 768px) {
        min-width: 100%;
        margin-bottom: 45px;
      }

      span {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #fff;
        margin-top: 7px;
      }
    }

    &__contacts {
      @media screen and (max-width: 1180px) {
        width: 46%;
      }

      @media screen and (max-width: 768px) {
        min-width: 100%;
      }

      &_box {
        .item {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          line-height: 18px;
          color: #fff;
          font-weight: 500;
          margin-top: 10px;

          a {
            font-weight: 500;
            color: #fff;
            margin-top: 5px;
          }
        }
      }

      .socials {
        display: flex;
        align-items: center;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
          margin-top: 25px;
        }

        img {
          margin-right: 10px;
        }
      }

      .badges {
        display: flex;
        align-items: center;

        img {
          margin-top: 45px;
        }

        img:last-of-type {
          margin-left: 20px;
        }
      }
    }
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    margin-top: 60px;

    @media screen and (max-width: 1180px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 768px) {
      margin-top: 45px;
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      font-size: 10px;
      line-height: 13px;
      color: #fff;
      font-weight: 400;

      width: 44%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }

    a {
      font-size: 10px;
      line-height: 13px;
      color: #fff;
      text-decoration: underline;
      font-weight: 400;
    }

    .middle {
      // margin-left: 30%;

      width: 29%;

      @media screen and (max-width: 1180px) {
        margin-left: 35%;
      }

      @media screen and (max-width: 768px) {
        margin: 7px 0 0;
        width: 100%;
      }
    }

    .right {
      // margin-left: 14%;

      @media screen and (max-width: 1180px) {
        margin: 5px 0 0;
        min-width: 100%;
      }

      @media screen and (max-width: 768px) {
        margin: 7px 0 0;
      }
    }
  }

  .button-up {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 1180px) {
      display: flex;
    }

    svg {
      margin-left: 10px;
    }
  }
}

.form-wrapper {
  background: #f6f6f6;
  padding: 100px 0;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;

  @media screen and (max-width: 1180px) {
    padding: 46px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 38px 0;
    overflow-y: scroll;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: $color-1-red;

    @media screen and (max-width: 1180px) {
      width: 35px;
      height: 35px;
    }

    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
    }

    .first,
    .second {
      position: absolute;
      width: 4px;
      height: 25px;
      background: #fff;
      display: block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: 0.3s;

      @media screen and (max-width: 1180px) {
        width: 3px;
        height: 20px;
      }

      @media screen and (max-width: 768px) {
        width: 2px;
        height: 15px;
      }
    }

    .first {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    .second {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  .form-wrapper-top {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1180px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .section-subtitle {
      max-width: 480px;
    }

    .touch {
      color: #333333;
      font-size: 18px;
      line-height: 24px;
      font-weight: 400;
      max-width: 341px;
      margin-left: 70px;

      @media screen and (max-width: 1180px) {
        margin: 20px 0 0;
      }

      @media screen and (max-width: 500px) {
        font-size: 16px;
        line-height: 21px;
        margin-top: 15px;
      }

      a {
        color: $color-1-red;
        text-decoration: underline;
      }
    }
  }

  .form {
    margin-top: 35px;

    .form-top {
      display: flex;
      align-items: flex-start;

      @media screen and (max-width: 1180px) {
        flex-direction: column;
      }

      .form-input {
        display: flex;
        flex-direction: column;
        margin-right: 40px;

        @media screen and (max-width: 500px) {
          margin: 0;
        }

        .input-wrapper {
          position: relative;

          .star {
            position: absolute;
            right: -10px;
            top: -10px;
            font-size: 14px;
            line-height: 16px;
            font-weight: 500;
            color: $color-1-red;
          }

          .input {
            border: 1px solid #333333;
            padding: 17px 169px 17px 25px;
            margin-bottom: 10px;

            @media screen and (max-width: 500px) {
              max-width: 355px;
              width: 100%;
            }
          }
        }
      }
    }
    .form-textarea {
      width: 100%;

      .textarea {
        border: 1px solid #333333;
        padding: 17px 25px;
        width: 355px;
        max-height: 110px;

        @media screen and (max-width: 500px) {
          padding: 17px 22px 17px 25px;
          max-width: 355px;
          width: 100%;
        }
      }
    }

    .input-checkbox {
      margin-top: 48px;

      @media screen and (max-width: 768pxpx) {
        margin-top: 30px;
      }

      .text {
        margin-left: 10px;

        p {
          color: #333333;
          font-size: 14px;
          font-weight: 400;
          line-height: 16px;

          @media screen and (max-width: 600px) {
            font-size: 12px;
            line-height: 14px;
          }

          b {
            color: $color-1-red;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;

            @media screen and (max-width: 600px) {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }

      .checkbox-label {
        position: relative;
        padding-left: 30px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .checkbox-custom {
        position: absolute;
        top: 3px;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;

        @media screen and (max-width: 500px) {
          top: 13px;
        }

        svg {
          opacity: 0;
          position: absolute;
          left: 53%;
          top: 53%;
          transform: translate(-50%, -47%);
        }
      }

      .checkbox-label input[type="checkbox"] {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
      }

      .checkbox-label input[type="checkbox"]:checked ~ .checkbox-custom {
        background-color: transparent;

        svg {
          opacity: 1;
        }
      }

      .checkbox-label input[type="checkbox"] ~ .checkbox-custom {
        background-color: transparent;
        border: 2px solid #b0b0b0;
      }
    }

    .button {
      margin-top: 35px;
    }
  }
}

.form-wrapper.visible {
  display: block;
}

.section-title {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-1-red;
}

.section-subtitle {
  color: #333333;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  margin-top: 35px;

  @media screen and (max-width: 1180px) {
    margin-top: 15px;
  }

  @media screen and (max-width: 500px) {
    font-size: 22px;
    line-height: 26px;
  }
}

.play {
  display: flex;
  align-items: center;
  color: $color-1-red;
  margin-top: 35px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;

  @media screen and (max-width: 500px) {
    margin-top: 26px;
    font-size: 14px;
    line-height: 16px;
  }

  svg {
    margin-right: 10px;
  }
}

.button {
  padding: 18px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: #ffffff;
  background: transparent;
  border: none;
  width: 300px;

  @media screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
}

.button-red {
  background: #dc0c1c;
}

.button-tranparent {
  border: 2px solid #ffffff;
  margin-top: 15px;
}
