@font-face {
  font-family: Proxima;
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.ttf");
}

@font-face {
  font-family: Proxima;
  font-weight: 600;
  src: url("../fonts/ProximaNova-Semibold.ttf");
}

@font-face {
  font-family: Proxima;
  font-weight: 700;
  src: url("../fonts/ProximaNova-Bold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0f1213;
  overflow-x: hidden;

  font-family: "Proxima";
}
.container {
  width: 1217px;
  margin: 0 auto;
}

.instruction {
  margin-top: 92px;
  position: relative;

  &::after {
    content: url(../img/grid-home.png);
    position: absolute;
    left: 56%;
    top: -11%;
    transform: translateX(-56%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .bg-wrapper-orange {
    position: absolute;
    background: #ffc412;
    filter: blur(51px);
    width: 235px;
    height: 12px;
    bottom: 77%;
    right: 86%;
    opacity: 1;
    z-index: 999;
  }

  .bg-wrapper-green {
    position: absolute;
    background: #ffc412;
    filter: blur(48px);
    width: 235px;
    height: 12px;
    top: -13px;
    right: -45px;
    opacity: 1;
    z-index: 999;
  }

  &__flex {
    display: flex;
    align-items: flex-start;

    .img {
      position: relative;

      .quickly {
        position: absolute;
        right: 189px;
        top: -47px;
        width: 238.98px;
      }
      .anonymously {
        position: absolute;
        right: -79px;
        top: 14%;
        width: 265.98px;
      }
      .safely {
        position: absolute;
        right: 157px;
        bottom: 144px;
        width: 261.98px;
      }
    }

    img {
      width: 323.41px;
      position: relative;
      right: 10px;
    }

    .content {
      margin-right: 100px;
      position: relative;
      z-index: 1;

      h2 {
        color: #ffc412;
        font-weight: 600;
        font-size: 22px;
        line-height: 24.2px;
        margin: 0;
        font-family: "Proxima";
      }

      p {
        font-weight: 600;
        font-size: 64px;
        background: radial-gradient(
          114.72% 4511.33% at -4.74% 50%,
          #23242d 0%,
          #f1f3fb 47.66%,
          #16171d 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 70.4px;
        width: 800px;
        margin: 20px 0 64px;

        b {
          background: radial-gradient(
            114.72% 4511.33% at -4.74% 50%,
            #26a17b 0%,
            #26a17b 47.66%,
            #26a17b 100%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .button-position {
        display: flex;
        align-items: center;

        a {
          text-decoration: none;
        }
      }
    }

    .button_yellow {
      border: 1px solid #26a17b;
      margin-left: 30px;
      position: relative;
      color: #26a17b;
      transition: 0.5s;

      svg {
        transition: 0.4s;
        path {
          fill: #26a17b;
        }
      }
    }

    .button_yellow:hover {
      background-color: #26a17b;
      color: #16171d;
      transition: 0.5s;

      svg {
        transform: rotate(0deg);

        path {
          fill: #16171d;
        }
      }

      &::after {
        transform: rotate(-4deg);
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &__care {
    background: #1b1e21;
    box-shadow: 0px -34px 210px #13141b;
    border-radius: 24px;
    padding: 40px 80px 40px 40px;
    bottom: 160px;
    width: 100%;
    z-index: 3;
    position: relative;
    overflow: hidden;

    img {
      vertical-align: middle;
    }

    .base {
      width: 40px;
    }

    .cards {
      width: 41px;
    }

    .phone {
      width: 35px;
    }

    p {
      font-weight: 400;
      font-size: 32px;
      color: #b0b1b1;
      line-height: 40px;
      margin: 0;
      max-width: 1010px;
    }
  }
}

.button {
  border: 1px solid #ffc412;
  background: transparent;
  border-radius: 20px;
  padding: 25px 45px 25px 40px;
  display: inline-flex;
  align-items: center;
  font-size: 28px;
  line-height: 28px;
  color: #ffc412;
  cursor: pointer;
  position: relative;
  font-family: "Proxima";
  transition: 0.5s;

  svg {
    margin-left: 17px;
    transition: 0.4s;
    transform: rotate(90deg);
    path {
      fill: #ffc412;
    }
  }
}

.button:hover {
  background-color: #ffc412;
  color: #16171d;
  transition: 0.4s;

  svg {
    transform: rotate(0deg);

    path {
      fill: #16171d;
    }
  }

  &::after {
    transform: rotate(-4deg);
    opacity: 1;
  }

  &::before {
    opacity: 1;
  }
}

.exchange {
  &::after {
    content: url(../img/grid.png);
    position: absolute;
    left: 56%;
    top: 95%;
    transform: translateX(-56%);
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  h3 {
    font-weight: 600;
    font-size: 48px;
    line-height: 57.6px;
    color: #e4e4f1;
    margin: 0 0 30px;
    vertical-align: middle;

    .mouse {
      vertical-align: middle;
      animation: zoom-in 2s infinite linear;
      max-width: 38px;

      img {
        width: 38px;
      }
    }

    b {
      color: #ffc412;
    }
  }

  .subheader {
    color: #b0b1b1;
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    min-width: 1028px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    color: #a2a1bd;
    line-height: 24.8px;
    max-width: 950px;
    margin: 12px 0 60px;
  }

  &__flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__block {
    background: #1b1e21;
    backdrop-filter: blur(80px);
    border-radius: 24px;
    max-width: 410px;
    max-height: 544px;
    padding: 30px 35px 55px 30px;
    box-shadow: -13px 4px 70px rgba(0, 0, 0, 0.25);

    &__middle {
      position: relative;
      z-index: 2;
      right: 10px;
    }

    &__last {
      position: relative;
      z-index: 3;
      right: 20px;
    }

    img {
      border-radius: 16px;
      width: 100%;
    }

    h6 {
      font-weight: 600;
      font-size: 28px;
      color: #e4e4f1;
      line-height: 33.6px;
      margin: 40px 0 16px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      color: #b0b1b1;
      max-width: 400px;
    }
  }

  .button_exchange {
    left: 50%;
    transform: translate(-50%);
    top: 75px;
    padding: 25px 105px;
  }
}

@media screen and (max-width: 1216px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .bg-wrapper-green {
    display: none;
  }

  .bg-wrapper-orange {
    display: none;
  }

  .instruction {
    margin: 0;
    &::after {
      display: none;
    }

    .instruction__flex {
      display: flex;
      align-items: center;
      flex-direction: column;

      .img {
        transform: scale(0.7);
        margin-top: -28px;

        .phone {
          right: -3px;
        }

        .quickly {
          right: 174px;
        }
      }
    }

    .content {
      text-align: center;
      margin: 0;
      .button-position {
        flex-direction: column;

        .button {
          font-size: 20px;
          padding: 20px 39px 20px 40px;
          line-height: 16px;

          svg {
            width: 26px;
          }
        }

        .button_yellow {
          margin: 20px 0 0;
        }
      }
      .img {
        display: none;
      }
    }

    .instruction__care {
      margin-top: -44px;
    }
  }

  .exchange {
    &::after {
      display: none;
    }

    .subheader {
      min-width: 0;
    }
  }

  .exchange__flex {
    flex-wrap: wrap;
    justify-content: center;

    .exchange__block__middle {
      right: 0;
    }

    .exchange__block__last {
      right: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
  }

  .instruction {
    &__flex {
      display: block;

      .content {
        max-width: 393px;
        margin: 0;

        h2 {
          font-size: 32px;
          line-height: 35.2px;
        }

        p {
          font-size: 26px;
          line-height: 27.9px;
          max-width: 349px;
          margin: 20px 0 48px;
        }

        .button_text_flex {
          flex-direction: column-reverse;
          align-items: flex-start;
          margin-bottom: 80px;
          p {
            margin: 0 0 20px;
          }

          .button {
            width: 100%;
          }
        }
      }
    }

    .instruction__care {
      width: 100%;
      padding: 20px;
      p {
        font-size: 22px;
        max-width: 100%;
        line-height: 29.7px;
      }
    }
  }

  .exchange {
    margin-top: -80px;

    h3 {
      font-size: 28px;
      line-height: 33.6px;
      max-width: 248px;
      margin-bottom: 30px;

      .mouse {
        max-width: 30px;
      }
    }

    .subheader {
      min-width: 0;
    }

    &__flex {
      flex-direction: column;

      .exchange__block {
        backdrop-filter: none;
        h6 {
          font-size: 22px;
          line-height: 26.4px;
          margin: 24px 0 12px;
          max-width: 250px;
        }

        img {
          width: 100%;
        }

        p {
          font-size: 16px;
          line-height: 24.8px;
          margin: 0 0 28px;
        }

        &__middle {
          right: 0;
          bottom: 30px;
        }

        &__last {
          right: 0;
          bottom: 60px;
        }
      }
    }

    .button_exchange {
      top: -10px;
      padding: 20px 40px 20px 40px;
      font-size: 20px;
      line-height: 16px;

      svg {
        max-width: 26px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .instruction__care {
    p {
      max-width: 350px;
    }
  }
}
