<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Safetica</title>
  </head>
  <body>
    {{> ../partials/global}}

    {{> ../partials/header}}

    {{> ../partials/partners}}

    {{> ../partials/about-us}}

    {{> ../partials/info}}

    {{> ../partials/safety}}

    {{> ../partials/why-us}}

    {{> ../partials/how-it-works}}
    
    {{> ../partials/products}}

    {{> ../partials/awards}}

    {{> ../partials/footer}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/imask/6.6.1/imask.min.js"></script>
    <script defer="defer" src="index.e182269ca8126ab6edf4.js"></script>
   
  </body>
</html>