* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #fafbff;
  font-family: "Poppins", sans-serif;
}

body.active {
  overflow: hidden;
}

.container {
  width: 1440px;

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.sidebar {
  width: 306px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #fff;

  @media screen and (max-width: 1400px) {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 39px 41px 0 31px;

    h1 {
      margin: 0 0 0 12px;
      font-size: 26px;
      line-height: 33px;
      letter-spacing: -1%;
      color: #000;
      font-weight: 600;

      span {
        padding-left: 4px;
        font-size: 10px;
        line-height: 15px;
        color: #838383;
      }
    }
  }

  &__navigation {
    padding: 29px 42px 0 40px;

    &_item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      cursor: pointer;
      transition: 0.3s;
      padding: 13px;
      border-radius: 8px;

      .name {
        display: flex;
        align-items: center;
      }

      a {
        font-size: 14px;
        text-decoration: none;
        line-height: 21px;
        font-weight: 500;
        color: #9197b3;
        padding-left: 16px;
      }
    }

    &_item.active {
      background: #5932ea;
      border-radius: 8px;

      a {
        color: #fff;
      }

      .svg-hover {
        path {
          fill: #fff;
        }
      }

      .name-customers {
        .fill {
          fill: transparent;
          stroke: #fff;
        }
      }

      .arrow {
        path {
          stroke: #fff;
        }
      }
    }

    &_item:hover {
      background: #5932ea;
      border-radius: 8px;

      a {
        color: #fff;
      }

      .name {
        .svg-hover {
          path {
            fill: #fff;
          }
        }

        .name-dashboard {
          path {
            fill: none;
            stroke: #fff;
          }
        }
      }

      .arrow {
        path {
          stroke: #fff;
        }
      }
    }
  }

  &__profile-badge {
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 78px;
    left: 28px;

    &_name {
      padding-left: 12px;

      h6 {
        margin: 0;
        font-size: 14px;
        color: #000;
        line-height: 21px;
        font-weight: 500;
      }

      p {
        margin: 0;
        font-size: 12px;
        color: #757575;
        line-height: 18px;
        font-weight: 400;
      }
    }
  }
}

.main {
  margin: 41px 0 0 377px;

  @media screen and (max-width: 1400px) {
    margin: 0;
  }

  h2 {
    margin: 0;
    padding-left: 280px;

    @media screen and (max-width: 1800px) {
      padding-left: 210px;
    }

    @media screen and (max-width: 1700px) {
      padding-left: 150px;
    }

    @media screen and (max-width: 1550px) {
      padding-left: 80px;
    }

    @media screen and (max-width: 1440px) {
      padding: 0;
    }

    @media screen and (max-width: 1400px) {
      text-align: center;
    }
  }

  &__content {
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
    padding: 30px 40px 31px 38px;
    margin: 31px auto 0;
    max-width: 968px;

    @media screen and (max-width: 1440px) {
      margin: 31px 0 0;
    }

    @media screen and (max-width: 1400px) {
      margin: 51px auto 0;
    }

    &_top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 1400px) {
        flex-direction: column;
      }
    }

    &_text {
      @media screen and (max-width: 1000px) {
        text-align: center;
      }

      h6 {
        margin: 0;
        font-size: 22px;
        line-height: 33px;
        color: #000;
        font-weight: 600;
      }

      p {
        margin: 7px 0 0;
        font-size: 14px;
        line-height: 21px;
        color: #16c098;
        font-weight: 400;
      }
    }

    &_input {
      background: #f9fbff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      @media screen and (max-width: 1000px) {
        margin: 20px;
      }

      input {
        border: none;
        background: transparent;
        color: #b5b7c0;
        font-size: 12px;
        line-height: 18px;
        padding: 10px 0 10px 50px;
        outline: none;
      }

      .button-input {
        background: transparent;
        border: none;
        width: 16px;
        position: absolute;
        left: 11px;
        cursor: pointer;
      }
    }

    .table {
      width: 100%;

      @media screen and (max-width: 1020px) {
        display: none;
      }

      .table-header {
        text-align: left;
        position: relative;
        padding-bottom: 14px;

        th {
          padding: 30px 40px 14px 0;
          font-size: 14px;
          line-height: 21px;
          font-weight: 500;
          color: #b5b7c0;
        }

        .last {
          padding: 40px 0 14px 0;
          text-align: center;
        }
      }

      .table-header::after {
        content: "";
        width: 109%;
        height: 1px;
        background: #eeeeee;
        display: inline-block;
        position: absolute;
        left: -40px;
        bottom: 0;

        @media screen and (max-width: 1400px) {
          width: 100%;
          left: 0;
        }
      }

      .table-style {
        position: relative;

        td {
          padding: 24px 40px 24px 0;
          font-size: 14px;
          line-height: 21px;
          color: #292d32;
          font-weight: 500;
        }

        .last {
          padding: 0;
        }

        .active {
          color: #008767;
          background: rgba(22, 192, 152, 0.38);
          border: 1px solid #00b087;
          border-radius: 4px;
          padding: 4px 18px;
        }

        .inactive {
          color: #df0404;
          background: #ffc5c5;
          border: 1px solid #df0404;
          border-radius: 4px;
          padding: 4px 12px;
        }
      }

      .table-style::after {
        content: "";
        width: 100%;
        height: 1px;
        background: #eeeeee;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .table-mobile {
      display: none;

      @media screen and (max-width: 1020px) {
        display: block;
      }

      .table-mobile-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-bottom: 1px solid #eee;
        padding: 25px 0;

        .left {
          span {
            padding-right: 10px;
            color: gray;
          }
        }

        .right {
          text-align: right;
          position: relative;

          span {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 150px;
          }
        }

        span {
          display: block;
          margin-top: 20px;
          font-size: 14px;
          line-height: 20px;
          font-weight: 500;

          @media screen and (max-width: 400px) {
            font-size: 12px;
            line-height: 20px;
          }
        }

        .active {
          color: #008767;
          background: rgba(22, 192, 152, 0.38);
          border: 1px solid #00b087;
          border-radius: 4px;
          padding: 4px 18px;
          position: absolute;
          right: 0;
          max-width: 83px;
        }

        .inactive {
          color: #df0404;
          background: #ffc5c5;
          border: 1px solid #df0404;
          border-radius: 4px;
          padding: 4px 12px;
        }
      }
    }

    &_bottom {
      padding-top: 32px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 1400px) {
        flex-direction: column-reverse;
      }

      p {
        margin: 0;
        font-size: 14px;
        line-height: 21px;
        color: #b5b7c0;
        font-weight: 500;
      }

      .text {
        @media screen and (max-width: 1400px) {
          padding-top: 30px;
        }
      }

      .pagination {
        display: flex;
        align-items: center;

        span {
          cursor: pointer;
        }

        .page {
          width: 25px;
          height: 24px;
          background: #f5f5f5;
          border: 1px solid #eeeeee;
          border-radius: 4px;
          margin-left: 12px;
          padding: 6px 10px;
          font-size: 12px;
          line-height: 12px;
          font-weight: 500;
          color: #404b52;
          transition: 0.3s;
        }

        .page-four {
          @media screen and (max-width: 1000px) {
            display: none;
          }
        }

        .page:hover {
          background: #5932ea;
          color: #fff;
        }

        .more {
          margin-left: 12px;
        }
      }
    }
  }
}

.burger {
  width: 35px;
  height: 25px;
  position: relative;
  background: transparent;
  border: none;
  display: none;
  transition: all 0.3s;
  z-index: 6;
  transition: 0.3s;
  left: 20px;
  top: 30px;
  cursor: pointer;

  @media screen and (max-width: 1400px) {
    display: block;
  }

  &__line {
    width: 100%;
    height: 4px;
    background: #000;
    position: absolute;
    left: 0;
    transition: all 0.3s;
    border-radius: 30px;
  }

  &__line_top {
    top: 0;
  }

  &__line_middle {
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 30px;
  }

  &__line_bottom {
    bottom: 0;
  }
}

.burger.active {
  z-index: 999;
  position: relative;
  top: 40px;
  left: 20px;

  .burger__line_top {
    transform: rotate(-45deg);
    top: 0;
    left: 0;
    background: #000;
    z-index: 999;
    position: absolute;
  }

  .burger__line_middle {
    display: none;
  }

  .burger__line_bottom {
    transform: rotate(45deg);
    top: 0;
    left: 9;
    background: #000;
    z-index: 999;
    position: absolute;
  }
}

.sidebar-mobile {
  background: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 40px 0 0 50px;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0.3s;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 998;

  .sidebar__navigation_item {
    width: 200px;
  }

  .sidebar__profile-badge {
    display: flex;
    align-items: flex-start;
    position: absolute;
    bottom: 25%;
    left: 25%;

    @media screen and (max-width: 768px) {
      bottom: 25%;
      left: 15%;
    }

    @media screen and (max-width: 600px) {
      bottom: 10%;
      left: 25%;
    }

    @media screen and (max-width: 400px) {
      bottom: 3%;
      left: 25%;
    }
  }
}

.sidebar-mobile.active {
  transform: translateX(0);
}
