<section id="about-us" class="about-us">
  <div class="container">
    <span class="linear-gradient-one"></span>
    <span class="linear-gradient-two"></span>

    <div class="about-us__content">
      <div class="about-us__content_text">
        <h2 class="title">Что такое Safetica?</h2>
        <p class="paragraph">
          Safetica — чешская компания-разработчик программного обеспечения,
          основанная в 2011 году.
          <br />
          Мы предоставляем решения по предотвращению потери данных и защите от
          внутренних угроз организациям всех форм и размеров. Каждый бизнес
          заслуживает знать, что его данные в безопасности
        </p>
        <div class="advantages-wrapper">
          <div class="item">
            <img src="./images/about-us/icon-one.svg" alt="" />
            <h6 class="numeric">2300+</h6>
            <p class="text">заказчиков</p>
          </div>
          <div class="item">
            <img src="./images/about-us/icon-two.svg" alt="" />
            <h6 class="numeric">120+</h6>
            <p class="text">стран</p>
          </div>
          <div class="item">
            <img src="./images/about-us/icon-three.svg" alt="" />
            <h6 class="numeric">500,000+</h6>
            <p class="text">защищенных устройств</p>
          </div>
        </div>
      </div>

      <div class="about-us__content_img">
        <div class="top">
          <span>
            <img
              class="big-img"
              src="./images/about-us/img-1.png"
              alt=""
            /></span>
          <span>
            <img
              class="small-img"
              src="./images/about-us/img-3.png"
              alt=""
            /></span>
        </div>
        <div class="bottom">
          <span>
            <img
              class="small-img"
              src="./images/about-us/img-2.png"
              alt=""
            /></span>
          <span>
            <img
              class="big-img"
              src="./images/about-us/img-4.png"
              alt=""
            /></span>
        </div>
      </div>
    </div>
  </div>
</section>