<header class="header">
  <div class="overlay"></div>
  <div class="container-big">
    <div class="header__content-top">
      <div class="header__content-top_logo">
        <a href="#">
          <img src="./images/logo-header.svg" alt="" /></a>
      </div>
      <div class="header__content-top_navigation">
        <nav class="nav">
          <a class="item" data-inner-navigation="" href="#about-us">Что такое
            Safetica
          </a>
          <a
            class="item"
            data-inner-navigation=""
            href="#safety"
          >Безопасность</a>
          <a class="item" data-inner-navigation="" href="#how-it-works">Как это
            работает</a>
          <a class="item" data-inner-navigation="" href="#products">Продукты</a>
          <a class="item" data-inner-navigation="" href="#footer">Контакты</a>
        </nav>
      </div>
      <div class="header__content-top_contacts">
        <div class="item">
          <a href="mailto:info@dc-s.kz" class="wrapper-icon">
            <img src="./images/icon_mail.svg" alt="" />
          </a>
          <a class="email" href="mailto:info@dc-s.kz">info@dc-s.kz</a>
        </div>
        <div class="item">
          <a href="tel:+777788999000" class="wrapper-icon">
            <img src="./images/icon_phone.svg" alt="" />
          </a>
          <a class="phone" href="tel:777788999000">+7 777 888 999 000</a>
        </div>
      </div>

      <div class="burger">
        <span class="burger__line burger__line_top"></span>
        <span class="burger__line burger__line_middle"></span>
        <span class="burger__line burger__line_bottom"></span>
      </div>
    </div>
    <div class="header__content-bottom">
      <h1 class="header-title">
        Простое решение защиты
        <br />
        конфидециальной информации
      </h1>
      <img class="logo-big" src="./images/logo-big.png" alt="" />
      <p class="paragraph">Попробуйте 30 дней бесплатной пробной версии</p>
      <div class="button-position">
        <a
          href="#products"
          data-inner-navigation=""
          class="button"
        >ПОДРОБНЕЕ</a>
        <a class="button" download="#" href="#">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
      </div>
    </div>
  </div>
</header>