<section class="info">
  <span class="linear-gradient-one"></span>
  <span class="linear-gradient-two"></span>

  <div class="container">
    <div class="info__content">
      <div class="info__content_left">
        <h3 class="title">
          Вам нужен Safetica для предотвращения утечки информации
        </h3>
        <p class="paragraph">80% компаний теряют данные из-за ошибок сотрудников
          или злонамеренных действий. Вы можете управлять своей компанией, не
          рискуя потерять ценную интеллектуальную собственность, авторские права
          или другие данные.</p>
      </div>
      <div class="info__content_right">
        <div class="item">
          <h6>45%</h6>
          <p>сотрудников берут с собой рабочие данные при увольнении</p>
        </div>
        <div class="item">
          <h6>88%</h6>
          <p>компаний не могут стабильно выявлять угрозы утечек</p>
        </div>
        <div class="item">
          <h6>66%</h6>
          <p>утечек данных обнаруживаются спустя несколько месяцев</p>
        </div>
        <div class="item">
          <h6>$4.24 млн</h6>
          <p>потрачено в среднем организациями</p>
        </div>
        <div class="item">
          <h6>2 месяца</h6>
          <p>среднее время обнаружение инцидента внутренней угрозы</p>
        </div>
      </div>
    </div>
  </div>
</section>