<div class="container">
  <section class="partners">
    <div class="partners__text">
      <h2 class="title">
        Нам доверяют
        <br />
        свою безопасность:
      </h2>
    </div>
    <div class="partners__img">
      <img src="./images/partners/partners-1.png" alt="" />
      <img src="./images/partners/partners-2.png" alt="" />
    </div>
  </section>
</div>