<section id="products" class="products">
  <div class="container">
    <div class="products__content">
      <h6 class="title">Safetica One продукты&модули</h6>
      <div class="products__content_main">
        <div class="block">
          <span><svg
              width="45"
              height="41"
              viewBox="0 0 45 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8379 0.947258C16.6801 1.61737 14.4035 3.76542 13.6875 6.73964C13.5957 7.15273 13.5039 7.50156 13.4855 7.51073C13.4672 7.51992 13.1734 7.62089 12.8154 7.74023C9.83203 8.70409 7.68398 11.3111 7.47285 14.2211L7.41777 14.9646L6.39883 15.0105C3.85605 15.1299 1.75391 16.5344 0.689062 18.8201C0.266797 19.7197 0.101562 20.4725 0.101562 21.5557C0.101562 22.6389 0.266797 23.3916 0.689062 24.2912C1.47852 25.9894 2.90137 27.2195 4.8291 27.8529C5.44414 28.0549 5.60937 28.0641 9.00586 28.1008L12.5492 28.1283L12.7053 28.7434C12.9348 29.6338 13.7518 31.2678 14.4127 32.1307C16.0742 34.3338 18.617 35.7291 21.5361 36.032C23.2068 36.2064 24.8592 35.9586 26.5391 35.2793L27.2734 34.9855L29.6143 37.2621C32.3498 39.9334 32.6803 40.1629 33.8094 40.1812C34.8283 40.1904 35.3607 39.9701 36.0951 39.2357C36.5541 38.7676 36.7377 38.5105 36.8662 38.125C37.0957 37.4365 37.0773 36.5736 36.8203 35.876C36.6275 35.3711 36.4072 35.1232 34.1857 32.8834L31.7715 30.4508L32.0285 29.8541C32.1754 29.5328 32.3682 28.9912 32.46 28.6516L32.6252 28.0365L36.1227 28.009L39.6201 27.9814L40.3545 27.7244C42.6311 26.9258 44.2742 25.1357 44.7699 22.9051C44.9902 21.8953 44.9168 20.4082 44.5863 19.4443C43.9346 17.5441 42.4107 15.9928 40.5381 15.341L39.8037 15.0932L39.7394 14.2853C39.4824 11.1734 37.8117 8.72245 35.0486 7.40976C33.6533 6.74882 31.7531 6.49179 30.2752 6.758C29.7703 6.84062 29.5408 6.8498 29.5225 6.78554C28.8982 4.56406 27.8334 3.05859 26.1627 2.02128C24.3727 0.910538 21.9309 0.497452 19.8379 0.947258ZM23.4639 2.37929C26.0434 3.07695 27.8518 5.0873 28.2373 7.68515C28.3658 8.5205 28.6963 8.62148 30.0273 8.24511C30.7434 8.03398 32.5059 8.00644 33.1484 8.19003C35.1863 8.76835 36.7928 10.026 37.6281 11.7059C38.1697 12.7891 38.3074 13.3674 38.3258 14.7168C38.3441 15.3869 38.39 15.9469 38.4543 16.0662C38.5369 16.2131 38.7572 16.3049 39.3906 16.4518C40.4463 16.6904 41.1623 17.0576 41.8783 17.7185C42.5943 18.3795 42.9891 18.9945 43.3012 19.9217C44.1916 22.5838 42.6127 25.5121 39.8037 26.4025C39.1887 26.5953 39.0143 26.6045 35.9941 26.6045H32.8271L32.7721 25.4111C32.6344 22.6939 31.5879 20.4357 29.5959 18.5723C28.99 18.0031 27.8701 17.2137 27.1357 16.8465C25.1162 15.8367 22.243 15.543 19.9756 16.1305C18.8648 16.415 17.2859 17.1769 16.3955 17.8471C13.9262 19.7014 12.485 22.4277 12.3381 25.5305L12.283 26.6687L9.01504 26.632C6.21523 26.5953 5.67363 26.5678 5.24219 26.4301C3.86523 25.9894 2.68105 25.0072 2.08437 23.8139C1.03789 21.7484 1.3959 19.5637 3.02988 17.9205C4.18652 16.7639 5.45332 16.2865 7.05976 16.4059C7.50039 16.4334 7.98691 16.4885 8.13379 16.516C8.33574 16.5527 8.48262 16.516 8.63867 16.3875C8.85898 16.2131 8.86816 16.158 8.87734 15.0748C8.8957 13.7805 9.0334 13.1654 9.51074 12.1924C10.291 10.5951 11.8424 9.38339 13.66 8.94277C14.0547 8.85097 14.4402 8.74081 14.532 8.70409C14.7248 8.63066 14.8441 8.30937 14.9727 7.52909C15.1838 6.19804 15.7529 5.05976 16.6801 4.11425C17.5797 3.19628 18.9658 2.48027 20.3061 2.2416C20.9945 2.11308 22.8029 2.1957 23.4639 2.37929ZM23.7576 17.3881C27.1816 17.8562 29.9814 20.2797 31.0004 23.667C31.2299 24.4289 31.2574 24.6217 31.2574 26.0537C31.2574 27.4857 31.2299 27.6785 31.0096 28.4221C30.1191 31.332 28.017 33.4066 25.0244 34.3246C24.2533 34.5633 24.0973 34.5816 22.5459 34.5816C21.0129 34.5816 20.8293 34.5633 20.0857 34.3338C17.0748 33.4066 14.8809 31.2494 13.9996 28.3486C13.7701 27.6051 13.7518 27.3756 13.7426 26.0537C13.7334 24.7869 13.7609 24.4748 13.9445 23.8047C15.1103 19.5269 19.3146 16.773 23.7576 17.3881ZM33.2586 33.9666C35.5811 36.3166 35.6912 36.4635 35.5994 37.2621C35.4617 38.5197 33.9471 39.1898 32.9006 38.4646C32.7078 38.3269 31.6521 37.3172 30.5506 36.2156L28.5586 34.2144L29.3572 33.526C29.807 33.1404 30.3486 32.5988 30.5781 32.3143C30.8076 32.0297 31.0096 31.8002 31.0371 31.791C31.0646 31.791 32.0652 32.7732 33.2586 33.9666Z"
                fill="#444FB4"
              />
              <path
                d="M19.7736 21.6474C19.6635 21.7209 19.5074 21.9963 19.434 22.2717C19.1678 23.1621 18.8189 23.5293 18.2314 23.5293C18.1029 23.5293 17.9377 23.6302 17.8183 23.7771C17.6256 24.025 17.6256 24.0892 17.6531 26.4668C17.6807 28.8076 17.6898 28.9177 17.8918 29.2941C18.4793 30.3957 20.1133 31.5707 21.9217 32.2041C22.6652 32.4703 22.9314 32.4152 24.29 31.7543C25.8414 31.0015 26.8512 30.1295 27.2734 29.1931C27.4387 28.8443 27.457 28.5781 27.457 26.3658C27.457 24.5299 27.4295 23.8965 27.3377 23.7679C27.2734 23.6853 27.0348 23.566 26.8144 23.5201C26.5941 23.465 26.3555 23.3824 26.282 23.3273C26.126 23.1988 25.7588 22.4736 25.6762 22.134C25.6486 21.9963 25.5293 21.7943 25.4191 21.6933C25.2264 21.5189 25.107 21.5097 22.5918 21.5097C20.407 21.5097 19.9389 21.5281 19.7736 21.6474ZM24.6389 23.364C24.9234 23.9974 25.2814 24.4105 25.7221 24.64L26.0801 24.8144V26.632C26.0801 28.7433 26.0525 28.8259 25.2264 29.4961C24.5562 30.0468 23.014 30.8179 22.5826 30.8179C22.0318 30.8271 20.3519 29.9275 19.6818 29.2666L19.1035 28.7066V26.7238V24.741L19.3789 24.6308C19.7553 24.4748 20.3428 23.7955 20.5355 23.2906L20.6916 22.8867H22.5551H24.4185L24.6389 23.364Z"
                fill="#444FB4"
              />
            </svg>
          </span>
          <h6>Safica One Discovery</h6>
          <p>Аудит работы с данными</p>

          <a
            class="btn"
            data-block-name="Safica One Discovery"
            href="#"
            data-open-modal="form-wrapper"
          >Запросить стоимость</a>
          <a
            class="btn"
            data-block-name="Safica One Discovery"
            href="#"
            data-open-modal="form-wrapper"
          >30 дней
            <b> БЕСПЛАТНО </b>
          </a>

          <a class="modal" data-open-modal="pop-up" href="#">Ключевые
            особенности</a>
        </div>
        <div class="block">
          <span><svg
              width="41"
              height="47"
              viewBox="0 0 41 47"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.4443 1.20254C18.4162 1.89102 16.6813 2.74473 15.5797 3.11192C11.458 4.46133 6.9875 3.84629 2.3793 1.28516C1.29609 0.679298 0.910547 0.605862 0.616797 0.927151C0.451562 1.11074 0.442382 1.45039 0.414843 11.7867C0.387304 23.1236 0.405664 23.858 0.81875 25.6939C2.12227 31.5139 6.70293 37.3063 14.0742 42.4836C16.3324 44.0625 20.0777 46.2656 20.5092 46.2656C20.9314 46.2656 24.6125 44.0992 26.834 42.5479C29.3676 40.767 31.2311 39.2248 33.2598 37.1869C37.6385 32.799 40.0711 28.2459 40.5117 23.6377C40.6586 22.0588 40.6311 1.39531 40.4842 1.10156C40.4199 0.973049 40.2547 0.816994 40.1078 0.743557C39.8691 0.6334 39.8049 0.65176 39.3367 0.908791C35.1416 3.19453 32.5713 3.94727 29.2666 3.82793C26.4852 3.72696 24.1168 2.92832 21.6107 1.23926C21.0967 0.899612 20.6193 0.642578 20.4908 0.642578C20.3715 0.65176 19.9033 0.899612 19.4443 1.20254ZM21.1885 2.71719C22.0605 3.28633 23.8506 4.14922 24.8604 4.47969C29.1197 5.88418 33.682 5.39766 38.3912 3.0293L39.1348 2.66211V13.0076C39.1348 24.2436 39.1348 24.1701 38.6207 26.0703C36.9316 32.3033 30.6344 38.977 21.4914 44.2369L20.5 44.8061L19.5178 44.2369C16.3875 42.4377 13.3307 40.2896 11.0449 38.2885C5.69316 33.616 2.71895 29.0078 2.00293 24.2803C1.88359 23.5 1.86523 21.765 1.86523 13.0168V2.67129L3.17793 3.30469C7.68516 5.48027 12.1465 5.88418 16.1488 4.49805C17.1953 4.13086 18.9854 3.25879 19.8115 2.71719C20.1695 2.4877 20.4725 2.29492 20.5 2.29492C20.5275 2.29492 20.8396 2.4877 21.1885 2.71719Z"
                fill="#444FB4"
              />
              <path
                d="M19.2607 10.2445C17.5166 10.6209 16.002 11.8051 15.185 13.4574C14.7168 14.4029 14.6893 14.5957 14.6342 17.1201L14.5791 19.5068L14.0742 19.5619C13.1287 19.6629 12.3484 20.2687 11.9996 21.1684C11.8344 21.5906 11.8252 21.9303 11.8252 26.2539C11.8252 30.5225 11.8344 30.9172 11.9904 31.2385C12.2291 31.7434 12.8258 32.3584 13.3215 32.6062L13.7529 32.8174H20.5H27.2471L27.7244 32.5971C28.3027 32.34 28.8627 31.7617 29.0738 31.2018C29.2115 30.8346 29.2207 30.3297 29.2023 26.0703C29.1748 21.4254 29.1748 21.3336 28.9729 20.9756C28.7342 20.535 28.1926 20.0025 27.752 19.7822C27.5775 19.6904 27.2012 19.5895 26.9258 19.5619L26.4209 19.5068L26.3658 17.1201C26.3107 14.5957 26.2832 14.4029 25.815 13.4574C25.2092 12.2365 24.282 11.3002 23.1162 10.7402C21.8586 10.1344 20.5734 9.96914 19.2607 10.2445ZM21.7025 11.7133C23.3824 12.2182 24.6217 13.5676 24.9063 15.2383C24.9613 15.5871 24.998 16.6061 24.9797 17.6709L24.9521 19.5068H20.5H16.0479L16.0203 17.6709C15.9928 15.5687 16.0754 14.8986 16.4793 14.0449C16.8098 13.3473 17.6727 12.4385 18.2969 12.1172C19.3617 11.5664 20.6836 11.4104 21.7025 11.7133ZM27.2654 21.1133C27.8621 21.4713 27.8529 21.3887 27.8254 26.1437C27.7979 30.0818 27.7887 30.4582 27.6326 30.7703C27.3021 31.4221 27.5867 31.3945 20.5 31.3945C13.5326 31.3945 13.7346 31.4129 13.4041 30.8529C13.2664 30.6143 13.248 30.1736 13.248 26.1896C13.248 22.8666 13.2756 21.7467 13.3674 21.5723C13.4316 21.4529 13.6244 21.251 13.7896 21.1408L14.1018 20.9297H20.5367C26.7605 20.9297 26.9809 20.9389 27.2654 21.1133Z"
                fill="#444FB4"
              />
              <path
                d="M19.9584 24.8402C19.7932 25.0513 19.7656 25.2074 19.7656 26.107C19.7656 26.7312 19.8115 27.2086 19.885 27.3463C20.1236 27.8236 20.9039 27.7869 21.1334 27.3004C21.1885 27.1718 21.2344 26.6211 21.2344 26.0795C21.2344 25.2166 21.2068 25.0513 21.0416 24.8402C20.8947 24.6566 20.7754 24.6015 20.5 24.6015C20.2246 24.6015 20.1053 24.6566 19.9584 24.8402Z"
                fill="#444FB4"
              />
            </svg>

          </span>
          <h6>Safica One Protection</h6>
          <p>Аудит работы с данными</p>

          <a
            class="btn"
            data-block-name="Safica One Protection"
            href="#"
            data-open-modal="form-wrapper"
          >Запросить стоимость</a>
          <a
            class="btn"
            data-block-name="Safica One Protection"
            href="#"
            data-open-modal="form-wrapper"
          >30 дней
            <b> БЕСПЛАТНО </b>
          </a>

          <a class="modal" data-open-modal="pop-up2" href="#">Ключевые
            особенности</a>
        </div>
        <div class="block">
          <span><svg
              width="45"
              height="41"
              viewBox="0 0 45 41"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8379 0.947258C16.6801 1.61737 14.4035 3.76542 13.6875 6.73964C13.5957 7.15273 13.5039 7.50156 13.4855 7.51073C13.4672 7.51992 13.1734 7.62089 12.8154 7.74023C9.83203 8.70409 7.68398 11.3111 7.47285 14.2211L7.41777 14.9646L6.39883 15.0105C3.85605 15.1299 1.75391 16.5344 0.689062 18.8201C0.266797 19.7197 0.101562 20.4725 0.101562 21.5557C0.101562 22.6389 0.266797 23.3916 0.689062 24.2912C1.47852 25.9894 2.90137 27.2195 4.8291 27.8529C5.44414 28.0549 5.60937 28.0641 9.00586 28.1008L12.5492 28.1283L12.7053 28.7434C12.9348 29.6338 13.7518 31.2678 14.4127 32.1307C16.0742 34.3338 18.617 35.7291 21.5361 36.032C23.2068 36.2064 24.8592 35.9586 26.5391 35.2793L27.2734 34.9855L29.6143 37.2621C32.3498 39.9334 32.6803 40.1629 33.8094 40.1812C34.8283 40.1904 35.3607 39.9701 36.0951 39.2357C36.5541 38.7676 36.7377 38.5105 36.8662 38.125C37.0957 37.4365 37.0773 36.5736 36.8203 35.876C36.6275 35.3711 36.4072 35.1232 34.1857 32.8834L31.7715 30.4508L32.0285 29.8541C32.1754 29.5328 32.3682 28.9912 32.46 28.6516L32.6252 28.0365L36.1227 28.009L39.6201 27.9814L40.3545 27.7244C42.6311 26.9258 44.2742 25.1357 44.7699 22.9051C44.9902 21.8953 44.9168 20.4082 44.5863 19.4443C43.9346 17.5441 42.4107 15.9928 40.5381 15.341L39.8037 15.0932L39.7394 14.2853C39.4824 11.1734 37.8117 8.72245 35.0486 7.40976C33.6533 6.74882 31.7531 6.49179 30.2752 6.758C29.7703 6.84062 29.5408 6.8498 29.5225 6.78554C28.8982 4.56406 27.8334 3.05859 26.1627 2.02128C24.3727 0.910538 21.9309 0.497452 19.8379 0.947258ZM23.4639 2.37929C26.0434 3.07695 27.8518 5.0873 28.2373 7.68515C28.3658 8.5205 28.6963 8.62148 30.0273 8.24511C30.7434 8.03398 32.5059 8.00644 33.1484 8.19003C35.1863 8.76835 36.7928 10.026 37.6281 11.7059C38.1697 12.7891 38.3074 13.3674 38.3258 14.7168C38.3441 15.3869 38.39 15.9469 38.4543 16.0662C38.5369 16.2131 38.7572 16.3049 39.3906 16.4518C40.4463 16.6904 41.1623 17.0576 41.8783 17.7185C42.5943 18.3795 42.9891 18.9945 43.3012 19.9217C44.1916 22.5838 42.6127 25.5121 39.8037 26.4025C39.1887 26.5953 39.0143 26.6045 35.9941 26.6045H32.8271L32.7721 25.4111C32.6344 22.6939 31.5879 20.4357 29.5959 18.5723C28.99 18.0031 27.8701 17.2137 27.1357 16.8465C25.1162 15.8367 22.243 15.543 19.9756 16.1305C18.8648 16.415 17.2859 17.1769 16.3955 17.8471C13.9262 19.7014 12.485 22.4277 12.3381 25.5305L12.283 26.6687L9.01504 26.632C6.21523 26.5953 5.67363 26.5678 5.24219 26.4301C3.86523 25.9894 2.68105 25.0072 2.08437 23.8139C1.03789 21.7484 1.3959 19.5637 3.02988 17.9205C4.18652 16.7639 5.45332 16.2865 7.05976 16.4059C7.50039 16.4334 7.98691 16.4885 8.13379 16.516C8.33574 16.5527 8.48262 16.516 8.63867 16.3875C8.85898 16.2131 8.86816 16.158 8.87734 15.0748C8.8957 13.7805 9.0334 13.1654 9.51074 12.1924C10.291 10.5951 11.8424 9.38339 13.66 8.94277C14.0547 8.85097 14.4402 8.74081 14.532 8.70409C14.7248 8.63066 14.8441 8.30937 14.9727 7.52909C15.1838 6.19804 15.7529 5.05976 16.6801 4.11425C17.5797 3.19628 18.9658 2.48027 20.3061 2.2416C20.9945 2.11308 22.8029 2.1957 23.4639 2.37929ZM23.7576 17.3881C27.1816 17.8562 29.9814 20.2797 31.0004 23.667C31.2299 24.4289 31.2574 24.6217 31.2574 26.0537C31.2574 27.4857 31.2299 27.6785 31.0096 28.4221C30.1191 31.332 28.017 33.4066 25.0244 34.3246C24.2533 34.5633 24.0973 34.5816 22.5459 34.5816C21.0129 34.5816 20.8293 34.5633 20.0857 34.3338C17.0748 33.4066 14.8809 31.2494 13.9996 28.3486C13.7701 27.6051 13.7518 27.3756 13.7426 26.0537C13.7334 24.7869 13.7609 24.4748 13.9445 23.8047C15.1103 19.5269 19.3146 16.773 23.7576 17.3881ZM33.2586 33.9666C35.5811 36.3166 35.6912 36.4635 35.5994 37.2621C35.4617 38.5197 33.9471 39.1898 32.9006 38.4646C32.7078 38.3269 31.6521 37.3172 30.5506 36.2156L28.5586 34.2144L29.3572 33.526C29.807 33.1404 30.3486 32.5988 30.5781 32.3143C30.8076 32.0297 31.0096 31.8002 31.0371 31.791C31.0646 31.791 32.0652 32.7732 33.2586 33.9666Z"
                fill="#444FB4"
              />
              <path
                d="M19.7736 21.6474C19.6635 21.7209 19.5074 21.9963 19.434 22.2717C19.1678 23.1621 18.8189 23.5293 18.2314 23.5293C18.1029 23.5293 17.9377 23.6302 17.8183 23.7771C17.6256 24.025 17.6256 24.0892 17.6531 26.4668C17.6807 28.8076 17.6898 28.9177 17.8918 29.2941C18.4793 30.3957 20.1133 31.5707 21.9217 32.2041C22.6652 32.4703 22.9314 32.4152 24.29 31.7543C25.8414 31.0015 26.8512 30.1295 27.2734 29.1931C27.4387 28.8443 27.457 28.5781 27.457 26.3658C27.457 24.5299 27.4295 23.8965 27.3377 23.7679C27.2734 23.6853 27.0348 23.566 26.8144 23.5201C26.5941 23.465 26.3555 23.3824 26.282 23.3273C26.126 23.1988 25.7588 22.4736 25.6762 22.134C25.6486 21.9963 25.5293 21.7943 25.4191 21.6933C25.2264 21.5189 25.107 21.5097 22.5918 21.5097C20.407 21.5097 19.9389 21.5281 19.7736 21.6474ZM24.6389 23.364C24.9234 23.9974 25.2814 24.4105 25.7221 24.64L26.0801 24.8144V26.632C26.0801 28.7433 26.0525 28.8259 25.2264 29.4961C24.5562 30.0468 23.014 30.8179 22.5826 30.8179C22.0318 30.8271 20.3519 29.9275 19.6818 29.2666L19.1035 28.7066V26.7238V24.741L19.3789 24.6308C19.7553 24.4748 20.3428 23.7955 20.5355 23.2906L20.6916 22.8867H22.5551H24.4185L24.6389 23.364Z"
                fill="#444FB4"
              />
            </svg>
          </span>
          <h6>Safica One Enterprise</h6>
          <p>Защита данных и интеграция в существующую ИТ/ИБ среду</p>

          <a
            class="btn"
            data-block-name="Safica One Enterprise"
            href="#"
            data-open-modal="form-wrapper"
          >Запросить стоимость</a>
          <a
            class="btn"
            data-block-name="Safica One Enterprise"
            href="#"
            data-open-modal="form-wrapper"
          >30 дней
            <b> БЕСПЛАТНО </b>
          </a>

          <a class="modal" data-open-modal="pop-up3" href="#">Ключевые
            особенности</a>
        </div>
      </div>
      <a class="additionally" href="#"><b>+</b> Safetica UBA</a>
      <p class="more">Более подробная информация о модулях в презентации</p>
      <a class="download" download="#" href="#">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
    </div>
  </div>
</section>