<section id="safety" class="safety">
  <div class="container">
    <div class="safety__content">
      <h4 class="title">Время оценки безопасности Safetica One</h4>

      <div class="safety__content_wrapper">
        <div class="main">
          <div class="item">
            <span class="time">В ТЕЧЕНИЕ 1 НЕДЕЛИ</span>

            <div class="item-wrapper">
              <div class="item-block">
                <img src="./images/safety/icon-one.svg" alt="" />
                <h6>Подготовка сервера, настройка удаленного доступа</h6>
                <p>ТРЕБУЕТСЯ 3 ЧАСА</p>
              </div>
              <div class="item-block block-two">
                <img src="./images/safety/icon-two.svg" alt="" />
                <h6>Установка с удаленным сервером
                </h6>
                <p>ТРЕБУЕТСЯ 1 ЧАС</p>
              </div>
            </div>
          </div>
        </div>
        <div class="main middle">
          <div class="item">
            <span class="time">2-4 НЕДЕЛИ</span>

            <div class="item-wrapper">
              <div class="item-block">
                <img src="./images/safety/icon-three.svg" alt="" />
                <h6>Сбор данных. Регулярные проверки</h6>
              </div>

            </div>
          </div>
        </div>
        <div class="main">
          <div class="item">
            <span class="time">1 НЕДЕЛЯ</span>

            <div class="item-wrapper">
              <div class="item-block">
                <img src="./images/safety/icon-four.svg" alt="" />
                <h6>Анализ-рабочее время, приложения, классификация веб-сайтов
                </h6>
                <p>ТРЕБУЕТСЯ 1 ЧАС</p>
              </div>
              <div class="item-block">
                <img src="./images/safety/icon-five.svg" alt="" />
                <h6>Представления результатов, предложения по политикам
                </h6>
                <p>ТРЕБУЕТСЯ 2 ЧАСА</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>