* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1360px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: flex-start;
  background: #f3f3f3;

  &__img {
    height: 715px;
    max-height: 100%;
  }

  &__content {
    padding: 60px 80px 0 55px;

    h1 {
      padding-top: 80px;
      margin: 0;
      font-size: 40px;
      line-height: 58px;
      font-weight: 400;
    }

    p {
      margin: 0;
      font-size: 18px;
      line-height: 28px;
      font-weight: 400;
    }

    .text-top {
      padding-top: 60px;
    }

    .text-bottom {
      padding-top: 45px;
    }

    .burger {
      width: 30px;
      height: 30px;
      position: relative;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: all 0.3s;
      z-index: 6;

      &__line {
        width: 100%;
        height: 2px;
        background: #000;
        position: absolute;
        left: 0;
        transition: all 0.3s;
      }

      &__line_top {
        top: 0;
      }

      &__line_middle {
        top: 50%;
        transform: translateY(-50%);
      }

      &__line_bottom {
        bottom: 0;
      }
    }

    .burger.active {
      transform: scale(-1, 1);
      position: absolute;
      right: 15px;
      top: 30px;

      .burger__line_top {
        transform: rotate(-45deg) translateY(-50%);
        top: auto;
        bottom: 50%;
      }

      .burger__line_middle {
        display: none;
      }

      .burger__line_bottom {
        transform: rotate(45deg) translateY(-50%);
        top: auto;
        bottom: 50%;
      }
    }
  }
}

.main {
  display: flex;
  align-items: flex-start;
  position: relative;

  &__left {
    background-image: url(../img/main-left-back.png);
    background-size: 100% 100%;
    padding: 75px 100px 75px 60px;
    width: 100%;

    .main__left_block {
      // position: relative;
      // z-index: 3;
      padding: 80px 0 0;

      h5 {
        font-size: 45px;
        line-height: 60px;
        margin: 0;
        color: #fff;
        font-weight: 400;

        b {
          font-weight: bold;
        }
      }

      p {
        color: #fff;
        margin: 0;
        padding-top: 30px;
        font-size: 16px;
        line-height: 28px;
        font-weight: 400;
      }
    }

    .one {
      padding-top: 0;
    }
  }

  &__right {
    .main__right_block {
      padding: 75px 150px 70px 60px;

      h5 {
        font-size: 45px;
        line-height: 66px;
        color: #262f32;
        margin: 0;
        font-weight: 400;

        b {
          font-weight: bold;
        }
      }

      p {
        margin: 0;
        padding-top: 40px;
        font-size: 16px;
        line-height: 28px;
        color: #262f32;
        font-weight: 400;
      }

      .button {
        margin-top: 44px;
        padding: 17px 40px;
        background: transparent;
        border-radius: 15px;
        border: 1px solid #262f32;
        cursor: pointer;
        font-weight: 400;
      }
    }

    .top {
      background-image: url(../img/main-right-top-back.png);
      background-size: 100% 100%;
    }

    .bottom {
      background-image: url(../img/main-right-bottom-back.png);
      background-size: 100% 100%;

      h5 {
        color: #fff;
      }

      p {
        color: #fff;
      }

      .button {
        border: 1px solid #fff;
        color: #fff;
      }
    }
  }
}

.footer {
  display: flex;
  align-items: center;

  &__left {
    background-image: url(../img/footer-left-back.png);
    background-size: 100% 100%;
    padding: 75px 41px 72px 47px;
    width: 100%;

    h5 {
      font-size: 45px;
      line-height: 66px;
      color: #fff;
      margin: 0;
      font-weight: 400;

      b {
        font-size: bold;
      }
    }

    img {
      padding-top: 260px;
    }

    p {
      color: #fff;
      margin: 0;
      padding-top: 30px;
    }

    .text-top {
      font-size: 42px;
      line-height: 66px;
      font-weight: bold;
    }

    .text-bottom {
      font-size: 17px;
      line-height: 28px;
      font-weight: 400;
    }
  }

  &__right {
    background-image: url(../img/footer-right-back.png);
    background-size: 100% 100%;
    padding: 75px 240px 72px 55px;
    width: 100%;
    h5 {
      color: #fff;
      font-size: 45px;
      line-height: 66px;
      margin: 0;

      font-weight: 400;

      b {
        font-weight: bold;
      }
    }

    p {
      color: #fff;
      font-size: 17px;
      line-height: 32px;
      margin: 0;
      font-weight: 400;
    }

    .links {
      padding: 25px 0 41px;
      display: flex;
      align-items: center;

      a {
        width: 45px;
        height: 45px;
        background: #000;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }

      .facebook {
        background: #345bb4;
      }

      .dribbble {
        margin: 0 5px;
        background: #e64895;
      }

      .twitter {
        background: #00b4ff;
      }
    }

    .form-contact {
      padding: 60px 0 90px;
      display: flex;
      flex-direction: column;

      .form-input {
        display: flex;
        align-items: center;

        .name {
          margin-right: 10px;
        }

        input {
          background: transparent;
          padding: 20px 27px;
          border: 1px solid #fff;
          border-radius: 15px;
          display: block;
          font-size: 17px;
          line-height: 32px;
          color: #fff;
          font-weight: 400;

          &::placeholder {
            color: #fff;
          }
        }
      }

      textarea {
        background: transparent;
        padding: 20px 27px;
        border: 1px solid #fff;
        border-radius: 15px;
        display: block;
        font-size: 17px;
        line-height: 32px;
        height: 160px;
        margin-top: 15px;
        font-weight: 400;

        &::placeholder {
          color: #fff;
        }
      }
    }
  }
}
