* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1176px;
  margin: 0 auto;
}

.header {
  background: #003e73;
  padding: 17px 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__content .left-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__content .left-part .nav {
  padding-left: 32px;
}
.header__content .left-part .nav a {
  margin: 0 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}
.header__content .right-part {
  display: flex;
  align-items: center;
}
.header__content .right-part a {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.header__content .right-part .eng {
  margin-right: 57px;
  font-size: 12px;
  line-height: 14.06px;
  letter-spacing: 1.07px;
  font-weight: 500;
}
.header__content .right-part .tel {
  margin-right: 36px;
}
.header__content .right-part .registration {
  margin-right: 24px;
  border: 2px solid #0078cc;
  padding: 10px 24px;
  border-radius: 4px;
}
.header__content .right-part .sign-in {
  border: 2px solid #0078cc;
  border-radius: 4px;
  padding: 10px 24px;
  background: #0078cc;
}
.header a {
  color: #fff;
  text-decoration: none;
}

.main {
  position: relative;
  height: 790px;
}
.main .back-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
.main h1 {
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  line-height: 57.6px;
  margin: 0;
  padding-top: 78px;
  text-align: center;
}
.main .basic-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 42px;
}
.main .basic-search .input {
  padding: 12px 16px;
  width: 540px;
  border-radius: 4px;
  border: 2px solid #fff;
}
.main .basic-search .submit {
  padding: 12px 30px 12px 30px;
  background: #282828;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  margin: 0 16px 0 17px;
  border: 2px solid #282828;
  display: flex;
  align-items: center;
}
.main .basic-search .submit img {
  margin-right: 11px;
}
.main .basic-search .button {
  padding: 12px 30px;
  display: flex;
  align-items: center;
  background: transparent;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 4px;
  border: 2px solid #fff;
  cursor: pointer;
}
.main .basic-search .button img {
  margin-right: 13px;
}
.main .source {
  padding-top: 89px;
  color: #fff;
  position: relative;
}
.main .source h2 {
  position: absolute;
  padding-top: 175px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  font-size: 36px;
  line-height: 43.2px;
  font-weight: 600;
  margin: 0;
}
.main .source__block h6 {
  font-size: 26px;
  line-height: 28px;
  margin: 0;
}
.main .source__block p {
  font-size: 16px;
  line-height: 16px;
  margin: 10px 0 0;
}
.main .source .one {
  position: absolute;
  top: 170px;
  left: 80px;
  display: flex;
  text-align: center;
}
.main .source .one img {
  margin: 30px 0 0 13px;
}
.main .source .one .circle {
  position: absolute;
  top: -4px;
  left: 115px;
}
.main .source .two {
  position: absolute;
  top: 100px;
  left: 300px;
  text-align: center;
}
.main .source .two .circle {
  position: absolute;
  left: -4px;
}
.main .source .two img {
  margin: 10px 0 0 150px;
}
.main .source .three {
  position: absolute;
  top: 100px;
  right: 300px;
  text-align: center;
}
.main .source .three .circle {
  position: absolute;
  right: -4px;
}
.main .source .three img {
  margin: 10px 150px 0 0;
}
.main .source .four {
  position: absolute;
  top: 170px;
  right: 80px;
  display: flex;
  text-align: center;
}
.main .source .four .circle {
  position: absolute;
  right: 115px;
  top: -4px;
}
.main .source .four img {
  margin: 30px 13px 0 0;
}
.main .source .five {
  position: absolute;
  top: 300px;
  left: 80px;
  display: flex;
  text-align: center;
  align-items: flex-end;
}
.main .source .five .content {
  position: relative;
  top: 10px;
}
.main .source .five .circle {
  position: absolute;
  left: 115px;
  bottom: 0;
}
.main .source .five img {
  margin: 0px 0 0 13px;
}
.main .source .six {
  position: absolute;
  top: 300px;
  left: 300px;
  text-align: center;
}
.main .source .six .circle {
  position: absolute;
  bottom: 50px;
  left: -3px;
}
.main .source .six img {
  margin: 0 0 10px 150px;
}
.main .source .seven {
  position: absolute;
  top: 300px;
  right: 300px;
  text-align: center;
}
.main .source .seven .circle {
  position: absolute;
  bottom: 50px;
  right: -4px;
}
.main .source .seven img {
  margin: 0 150px 10px 0;
}
.main .source .eight {
  position: absolute;
  top: 300px;
  right: 35px;
  display: flex;
  text-align: center;
  align-items: flex-end;
}
.main .source .eight .content {
  position: relative;
  top: 10px;
}
.main .source .eight .circle {
  position: absolute;
  right: 160px;
  bottom: 0;
}
.main .source .eight img {
  margin: 0 13px 0 0;
}

.possibility {
  padding-top: 350px;
}
@media screen and (max-width: 1512px) {
  .possibility {
    padding-top: 50px;
  }
}
.possibility h4 {
  color: #314452;
  font-size: 22px;
  line-height: 24.57px;
  font-weight: 500;
  margin: 30px 0 0;
}
.possibility h6 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: #18354e;
  margin: 30px 0 0;
}
.possibility .tools-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.possibility .tools-flex .tools__block {
  background: #f9f9f9;
  border-radius: 16px;
  padding: 34px;
  width: 32%;
  margin-top: 20px;
}
.possibility .tools-flex .center {
  margin: 20px 21px 0;
}
.possibility .services-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.possibility .services-flex .services__block {
  background: #f9f9f9;
  border-radius: 16px;
  padding: 34px;
  width: 32%;
  margin-top: 20px;
  height: 233px;
}

.tariffs {
  padding-top: 100px;
}
.tariffs .tariffs__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}
.tariffs .tariffs__flex .tarrifs__block {
  background: #f9f9f9;
  border-radius: 16px;
  padding: 24px;
  width: 378px;
}
.tariffs .tariffs__flex .tarrifs__block h6 {
  text-align: center;
  font-size: 28px;
  margin: 0;
  color: #314452;
}
.tariffs .tariffs__flex .tarrifs__block .block-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(109, 106, 106, 0.0745098039);
  padding-bottom: 18px;
}
.tariffs .tariffs__flex .tarrifs__block .block-flex p {
  margin: 18px 0 0;
}
.tariffs .button {
  display: block;
  margin-top: 20px;
  text-align: center;
  left: 50%;
  transform: translate(-50%);
  position: relative;
  padding: 12px 30px 12px 30px;
  background: #003e73;
  border-radius: 4px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.about-us {
  padding-top: 100px;
}
.about-us p {
  margin: 0;
  padding-top: 30px;
  font-size: 16px;
  color: #35383b;
  line-height: 20px;
  width: 787px;
}

.customers {
  padding-top: 100px;
}
.customers__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.customers__flex .block {
  width: 15%;
  background: #f9f9f9;
  border-radius: 6px;
  padding: 53px 28px;
  margin-top: 20px;
  height: 132px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  padding-top: 100px;
}
.news p {
  margin: 20px 0 32px;
  color: #35383b;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
}
.news .input {
  background: rgba(255, 255, 255, 0.64);
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  width: 406px;
  height: 42px;
  line-height: 18px;
  font-size: 16px;
  padding: 12px 16px;
}
.news .submit {
  background: #003e73;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  padding: 12px 30px;
  font-weight: 500;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: 16px;
}

.footer {
  margin-top: 100px;
  background: #23366e;
  position: relative;
}
.footer .footer-back {
  position: absolute;
  z-index: 1;
  opacity: 0.1;
  width: 100%;
}
.footer__flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  position: relative;
  z-index: 3;
}
.footer__flex h6 {
  color: #fff;
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}
.footer__flex a {
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
.footer__flex p {
  color: #fff;
  font-size: 12px;
  line-height: 16.8px;
  font-weight: 400;
  margin: 20px 0 24px;
}
.footer__flex .footer__tools {
  display: flex;
  flex-direction: column;
}
.footer__flex .footer__tools p {
  padding-top: 120px;
}
.footer__flex .footer__services {
  display: flex;
  flex-direction: column;
}
.footer__flex .links {
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.footer__flex .links a {
  margin: 0 18px 0 0;
}
.footer__flex .addres {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.footer__flex .addres a {
  margin: 12px 0 0;
  display: flex;
  align-items: center;
}
.footer__flex .addres a svg {
  margin-right: 10px;
}

.title {
  color: #18354e;
  font-size: 44px;
  line-height: 52.8px;
  font-weight: 400;
  margin: 0;
  border-bottom: 1px solid rgba(40, 40, 40, 0.3019607843);
  padding-bottom: 16px;
}/*# sourceMappingURL=style.css.map */