.events {
  background-color: $color-gray;

  .events-wrapper {
    padding: 60px 0;

    @media screen and (max-width: $media-1100) {
      padding: 30px 0;
    }

    &__top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .button {
        @media screen and (max-width: $media-1100) {
          display: none;
        }
      }
    }

    &__main {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $media-1100) {
        flex-direction: column;
        margin-top: 30px;
      }

      &_item-img {
        img {
          width: 540px;

          @media screen and (max-width: $media-1100) {
            width: 100%;
          }
        }
      }

      &_item-content {
        max-width: 540px;

        .top-flex {
          display: flex;
          align-items: center;

          @media screen and (max-width: $media-1100) {
            margin-top: 20px;
          }

          .date {
            background: #f1f6d1;
            text-align: center;
            padding: 13px 10px;
            max-height: 65px;
            max-width: 65px;
            margin-right: 30px;

            @media screen and (max-width: $media-1100) {
              margin-right: 10px;
            }

            .number {
              color: #000000;
              font-size: 32px;
              line-height: 32px;
              font-weight: 700;
            }

            .month {
              color: #000000;
              font-size: 14px;
              line-height: 14px;
              font-weight: 400;
              margin-top: 10px;
            }
          }

          .title {
            .title-desktop {
              font-size: 24px;
              line-height: 24px;
              color: #000;
              font-weight: 400;
              max-width: 350px;

              @media screen and (max-width: $media-1100) {
                font-size: 16px;
                line-height: 16px;
                display: none;
              }

              .title-mobile {
                display: none;
                font-size: 16px;
                line-height: 16px;
                color: #000;
                font-weight: 400;
                max-width: 158px;

                @media screen and (max-width: $media-1100) {
                  display: block;
                }
              }
            }
          }
        }

        .paragraph {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: #646464;
          margin: 22px 0 0 95px;

          @media screen and (max-width: $media-1100) {
            margin: 22px 0 0;
          }
        }

        .button {
          margin: 20px 0 0 95px;
          max-width: 126px;
          max-height: 38px;
          font-size: 13px;
          line-height: 15px;

          @media screen and (max-width: $media-1100) {
            margin: 20px 0 0;
          }
        }
      }
    }

    .button-green-border {
      display: none;

      @media screen and (max-width: $media-1100) {
        display: block;
      }
    }
  }
}
