body {
  margin: 0;
}

.container {
  width: 1100px;
  margin: auto;
}

.header {
  padding-top: 40px;
  position: relative;
}

.header-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  margin: 0 30px;
  font-size: 15px;
  color: #696871;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -0.468947px;
}

.nav a:hover {
  color: #19191b;
  text-decoration: underline;
}

.header .button {
  letter-spacing: -0.531474px;
  font-size: 17px;
  color: #fff;
  background: #ff7143;
  border-radius: 10px;
  cursor: pointer;
  padding: 19px 60px;
  border: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.subtitle {
  padding-top: 100px;
}

.subtitle-flex {
  display: flex;
  justify-content: space-between;
}

.subtitle h1 {
  color: #19191b;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 80px;
  letter-spacing: -2.5px;
  line-height: 77px;
}

.subtitle span {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.63px;
  color: #696871;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.subtitle .leftmenu {
  margin-top: 40px;
}

.subtitle-button {
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #fff;
  background-color: #5454d4;
  padding: 19px 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.subtitle .arrow-down {
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  cursor: pointer;
}

.arrow-flex {
  display: flex;
  align-items: center;
  margin-top: 50px;
}

.main {
  padding-top: 110px;
}

.main-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  padding-top: 160px;
}

.content-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-content {
  margin-left: 160px;
}

.content h2 {
  color: #19191b;
  font-size: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.5px;
}

.content span {
  color: #696871;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6px;
}

.content a {
  text-decoration: none;
  color: #5454d4;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.5px;
  display: block;
  margin-top: 30px;
}

.content-two {
  padding-top: 83px;
}

.content-flex-two {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content-two {
  margin-right: 160px;
}

.content-two h2 {
  color: #19191b;
  font-size: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: -1.5px;
}

.content-two span {
  color: #696871;
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.6px;
}

.content-two a {
  text-decoration: none;
  color: #5454d4;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.5px;
  display: block;
  margin-top: 30px;
}

.block {
  padding-top: 160px;
}

.block .benchmarks {
  display: block;
  margin-right: 75px;
  text-align: center;
}

.block .pricing {
  display: block;
  margin-right: 75px;
  text-align: center;
}

.block .retention {
  display: block;
  text-align: center;
}

.block-flex {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.block h2 {
  font-size: 24px;
  line-height: 36px;

  letter-spacing: -0.75px;
  color: #19191b;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.block span {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #696871;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}

.get {
  padding-top: 150px;
  padding-bottom: 175px;
}

.get-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.get h1 {
  font-size: 40px;
  line-height: 70px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  letter-spacing: -1.8px;
  color: #19191b;
}

.get .button-left {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  background: #f7f7fb;
  border-radius: 10px 0 0 10px;
  color: #19191b;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 23px 60px;
  cursor: pointer;
  border: 5px solid #f7f7fb;
  margin: 0;
}

.get .button-left:hover {
  background-color: #5454d4;
  color: white;
}

.get .button-right {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  background: #f7f7fb;
  border-radius: 0 10px 10px 0;
  color: #19191b;
  font-size: 16px;
  text-align: center;
  letter-spacing: -0.5px;
  padding: 23px 60px;
  cursor: pointer;
  border: 5px solid #f7f7fb;
  margin: 0;
}

.get .button-right:hover {
  background-color: #5454d4;
  color: white;
}

.get-right {
  display: flex;
  justify-content: space-evenly;
}

.get h1 {
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -1.8px;
  color: #19191b;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.price {
  background: #f8f8f8;
  border-radius: 10px;
  margin: 0 20px;
  text-align: center;
  display: block;
  width: 370px;
  padding: 34px 0 30px;
  transition: 0.3s;
}

.price:hover {
  background-color: #ff7143;
  box-shadow: 0px 32px 34px rgba(255, 112, 59, 0.317827);
  transform: scale(1.05);
}

.price:hover p,
.price:hover h1,
.price:hover b,
.price:hover span {
  color: white;
}

.flex-price {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.flex-price p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #696871;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
}

.flex-price h1 {
  font-size: 60px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1;
  color: #1d293f;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.flex-price b {
  font-size: 28px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  letter-spacing: -1;
  color: #1d293f;
}
.flex-price span {
  font-size: 17px;
  line-height: 50px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-align: center;
  letter-spacing: -0.531474px;
  color: #696871;
  display: block;
  padding-bottom: 30px;
}

.button-price {
  cursor: pointer;
  background: #fff;
  border: 1px solid #eae9f2;
  border-radius: 10px;
  padding: 19px 100px;
  font-size: 17px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: #5454d4;
}

.price:hover button {
  background-color: #9f3919;
  color: white;
  border-color: #9f3919;
}

@media (max-width: 1100px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .subtitle-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle .leftmenu {
    text-align: center;
  }

  .subtitle .rightmenu {
    text-align: center;
    padding-top: 40px;
  }

  .subtitle .arrow-flex {
    justify-content: center;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .subtitle-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .subtitle .leftmenu {
    text-align: center;
  }

  .subtitle .rightmenu {
    text-align: center;
    padding-top: 40px;
  }

  .content-two img {
    width: 80%;
    margin: 60px 0;
  }

  .subtitle .arrow-flex {
    justify-content: center;
  }

  .main-flex {
    display: flex;
    justify-content: space-evenly;
  }

  .price {
    margin-left: 15px;
  }
}
@media (max-width: 992px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .nav {
    display: none;
  }

  .content-flex {
    flex-wrap: wrap;
  }

  .right-content {
    margin: 0%;
  }

  .content-flex-two {
    flex-wrap: wrap;
  }

  .flex-price {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .flex-price .price {
    display: block;
    margin: 30px 0;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .nav {
    display: none;
  }

  .subtitle img {
    width: 80%;
  }

  .arrow-down {
    transform: scale(0.5);
  }

  .main-flex {
    flex-wrap: wrap;
  }

  .main-flex img {
    display: inline-block;
    width: 35%;
    margin: 20px;
  }

  .content-flex {
    flex-wrap: wrap;
  }

  .right-content {
    margin-left: 0;
  }

  .content-flex-two {
    flex-wrap: wrap;
    justify-content: center;
  }

  .left-content-two {
    margin-right: 0;
  }

  .content-two img {
    margin: 60px 0;
  }

  .block-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .block .benchmarks {
    display: block;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .block .pricing {
    display: block;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .get-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-price {
    flex-wrap: wrap;
    justify-content: center;
  }

  .flex-price .price {
    display: block;
    margin: 30px 0;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .header-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-flex img {
    padding-bottom: 30px;
  }

  .get .get-right {
    flex-wrap: wrap;
    justify-content: center;
  }

  .get-right .button-left {
    display: block;
    padding: 23px 70px;
  }

  .get-right .button-right {
    display: block;
    margin-top: 20px;
  }

  .subtitle h1 {
    font-size: 40px;
  }

  .subtitle span {
    font-size: 15px;
  }

  .subtitle img {
    width: 80%;
  }
}

@media (max-width: 321px) {
  .container {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
  }

  .header-flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .header-flex img {
    padding-bottom: 30px;
  }

  .subtitle img {
    width: 80%;
  }
  .subtitle h1 {
    font-size: 40px;
  }

  .content h2 {
    font-size: 40px;
  }

  .content span {
    font-size: 15px;
  }

  .content a {
    font-size: 13px;
  }

  .content-two h2 {
    font-size: 40px;
  }

  .content-two span {
    font-size: 15px;
  }

  .content-two a {
    font-size: 13px;
  }

  .subtitle .arrow-down {
    margin-left: 6px;
  }

  .content img {
    width: 80%;
  }

  .content-two img {
    width: 80%;
    margin: 60px 0;
  }

  .get-flex h1 {
    font-size: 40px;
    text-align: center;
  }

  .get-right .button-left {
    display: block;
    padding: 23px 70px;
  }

  .get-right .button-right {
    display: block;
    margin-top: 20px;
  }

  .price {
    width: 80%;
  }

  .button-price {
    width: 80%;
    text-align: center;
    padding: 19px 50px;
  }
}
