* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLERBLACK.TTF") format("woff2");
  font-weight: 900;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLEREXTRABOLD.TTF") format("woff2");
  font-weight: 800;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLERBOLD.TTF") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLERMEDIUM.TTF") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLERREGULAR.TTF") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/MULLERLIGHT.TTF") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  background: url(../img/back.png);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Muller";
}
@media screen and (max-width: 1000px) {
  body {
    background: url(../img/back-mobile.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.container {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.container-how-to-play {
  width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .container-how-to-play {
    width: 100%;
    padding: 0 10px;
  }
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(#ff659b, #ff327a);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 40px;
  height: 120px;
  width: 488px;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Muller";
  border-radius: 12px;
}
@media screen and (max-width: 1000px) {
  .button {
    width: 100%;
    width: 288px;
    height: 60px;
    font-size: 16px;
    margin-top: 20px;
  }
}

.title {
  color: #fff;
  font-size: 95px;
  font-weight: 400;
  margin: 0;
  font-family: "Days One", sans-serif;
}
@media screen and (max-width: 1000px) {
  .title {
    font-size: 40px;
  }
}
.title .yellow-color {
  color: #f4aa0b;
}

@media screen and (max-width: 1000px) {
  .header {
    margin-top: 50px;
  }
}
.header img {
  margin-right: 60px;
}
@media screen and (max-width: 1000px) {
  .header img {
    width: 60px;
    margin-right: 0px;
  }
}

.subheader {
  position: relative;
}
.subheader .plane {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .subheader .plane {
    top: 0;
  }
}
.subheader .plane img {
  width: 100%;
}
.subheader .subheader-container {
  text-align: center;
  padding-top: 510px;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container {
    padding-top: 250px;
  }
}
@media screen and (max-width: 600px) {
  .subheader .subheader-container {
    padding-top: 150px;
  }
}
.subheader .subheader-container .title {
  font-size: 140px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: "Days One", sans-serif;
  margin: 0;
  background-image: linear-gradient(to top, #f3dbdc, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container .title {
    font-size: 36px;
  }
}
.subheader .subheader-container .subtitle {
  color: #fff;
  font-size: 55px;
  font-weight: 400;
  margin: 50px 0 0;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container .subtitle {
    font-size: 25px;
  }
}
.subheader .subheader-container .advantages {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container .advantages {
    margin-top: 30px;
  }
}
.subheader .subheader-container .advantages .item span {
  display: block;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container .advantages .item .icon img {
    width: 70px;
  }
}
.subheader .subheader-container .advantages .item .info {
  color: #fff;
  font-size: 32px;
  margin-top: 20px;
  font-weight: 400;
}
@media screen and (max-width: 1000px) {
  .subheader .subheader-container .advantages .item .info {
    font-size: 14px;
    margin-top: 10px;
  }
}

.how-to-play {
  padding-top: 130px;
  text-align: center;
}
@media screen and (max-width: 1000px) {
  .how-to-play {
    padding-top: 80px;
  }
}
.how-to-play .item {
  display: flex;
  align-items: center;
  text-align: start;
  margin-top: 50px;
  background: linear-gradient(#fd3a7f, #d61a5c);
  border-radius: 100px;
  max-height: 180px;
  width: 1200px;
  padding: 20px;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item {
    justify-content: start;
    margin-top: 30px;
    width: 90%;
    height: auto;
    padding: 8px;
  }
}
.how-to-play .item .number-wrap {
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 145px;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item .number-wrap {
    width: 60px;
    height: 60px;
  }
}
.how-to-play .item .number-wrap .number {
  font-size: 86px;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  color: #ff3c81;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item .number-wrap .number {
    font-size: 32px;
  }
}
.how-to-play .item .text {
  font-size: 60px;
  color: #fff;
  font-weight: 400;
  margin-left: 100px;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item .text {
    font-size: 16px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 1000px) {
  .how-to-play .item:first-of-type {
    margin: 50px 0 0;
  }
}
.how-to-play .item-middle {
  justify-content: flex-end;
  margin-left: 200px;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item-middle {
    margin-left: 40px;
  }
}
.how-to-play .item-middle .text {
  margin: 0 100px 0 0;
  text-align: end;
}
@media screen and (max-width: 1000px) {
  .how-to-play .item-middle .text {
    margin: 0 30px 0 0;
  }
}

.about-us {
  padding-top: 130px;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .about-us {
    padding-top: 100px;
  }
}
.about-us .icon {
  position: absolute;
  left: 0;
  bottom: -150px;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .about-us .icon {
    bottom: -250px;
  }
}
@media screen and (max-width: 600px) {
  .about-us .icon {
    bottom: -50px;
  }
}
.about-us .icon img {
  width: 100%;
}
.about-us .paragraph {
  width: 100%;
  padding-top: 650px;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-size: 55px;
}
@media screen and (max-width: 1000px) {
  .about-us .paragraph {
    font-size: 16px;
    padding-top: 200px;
  }
}

.footer {
  text-align: center;
  padding-top: 500px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .footer {
    padding-top: 250px;
  }
}
.footer .plane {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .footer .plane {
    top: 10%;
  }
}
.footer .plane img {
  width: 600px;
}
@media screen and (max-width: 1000px) {
  .footer .plane img {
    width: 300px;
  }
}
.footer .title {
  background-image: linear-gradient(to top, #f3dbdc, #fff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 120px;
  text-transform: uppercase;
  font-family: "Days One", sans-serif;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 1000px) {
  .footer .title {
    font-size: 40px;
  }
}
.footer .items {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px 0;
}
.footer .items .item {
  font-weight: 400;
  font-size: 32px;
  color: #807a94;
}
@media screen and (max-width: 1000px) {
  .footer .items .item {
    font-size: 22px;
  }
}
.footer .items .item:last-of-type {
  margin-left: 150px;
}
@media screen and (max-width: 1000px) {
  .footer .items .item:last-of-type {
    margin-left: 50px;
  }
}/*# sourceMappingURL=style.css.map */