* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 768px) {
  body.active {
    overflow-y: hidden;
  }
}

ol,
ul {
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1230px;
  margin: 0 auto;
}
@media screen and (max-width: 1229px) {
  .container {
    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
  }
}

.title {
  font-size: 65px;
  line-height: 80px;
  font-weight: 600;
  color: #25313b;
}
@media screen and (max-width: 768px) {
  .title {
    font-size: 45px;
    line-height: 55px;
  }
}

.subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #25313b;
}
@media screen and (max-width: 768px) {
  .subtitle {
    font-size: 16px;
    line-height: 29px;
  }
}

.title-expertise {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #25313b;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .title-expertise {
    font-size: 28px;
    line-height: 35px;
    margin: 0 0 0 15px;
  }
}

.mobile-menu {
  background: #25313b;
  padding: 50px 0 50px 44px;
  display: block;
  transform: translateX(100%);
  transition: transform 0.5s;
  position: fixed;
  width: 80%;
  overflow: auto;
  height: 92vh;
  right: 0;
  top: 10vh;
  z-index: 998;
  border-radius: 20px;
}
.mobile-menu .nav-mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.mobile-menu .nav-mobile-menu .item {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 50px;
}
.mobile-menu .nav-mobile-menu .item:last-of-type {
  margin: 0;
}
.mobile-menu .language {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  border: 1px solid #efefef;
  border-radius: 6px;
  display: block;
  background: #fff;
}
.mobile-menu .language__items {
  display: none;
  list-style: none;
  position: absolute;
  top: -35px;
  left: 0;
  width: 100%;
}
.mobile-menu .language__items_active {
  opacity: 1;
  display: block;
}
.mobile-menu .language__item {
  opacity: 1;
  height: auto;
  padding: 7px 11px 9px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #25313b;
  font-weight: 500;
}
.mobile-menu .language__item .arrow {
  margin-left: 5px;
}
.mobile-menu .language__item a {
  display: block;
  width: 100%;
  color: #000;
}
.mobile-menu .language__item_active {
  background-color: transparent;
  display: flex;
  align-items: center;
}

.mobile-menu.open {
  transform: translateX(13%);
}

.burger {
  width: 25px;
  height: 20px;
  position: relative;
  background: transparent;
  border: none;
  display: none;
  transition: all 0.3s;
  z-index: 6;
}
@media screen and (max-width: 1229px) {
  .burger {
    display: block;
  }
}
.burger__line {
  width: 100%;
  height: 2px;
  background: #25313b;
  position: absolute;
  right: 0;
  transition: all 0.3s;
}
.burger__line_top {
  top: 0;
}
.burger__line_middle {
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
.burger__line_bottom {
  bottom: 0;
  width: 60%;
}

.burger.is-active {
  z-index: 999;
  position: absolute;
  top: 23px;
  right: 20px;
}
.burger.is-active .burger__line_top {
  transform: rotate(-45deg);
  top: 0;
  left: 0;
  background: #000000;
  z-index: 999;
  position: absolute;
}
.burger.is-active .burger__line_middle {
  display: none;
}
.burger.is-active .burger__line_bottom {
  transform: rotate(45deg);
  top: 0;
  left: 0;
  background: #000000;
  z-index: 999;
  position: absolute;
  width: 100%;
}

.tabs {
  min-height: 700px;
}
.tabs .tabs-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  margin-top: 155px;
}
.tabs .tabs-items .tabs-item-box {
  position: relative;
}
.tabs .tabs-items .tabs-item {
  font-size: 28px;
  line-height: 50px;
  font-weight: 600;
  color: #25313b;
  background: transparent;
  cursor: pointer;
  border: none;
  margin-top: 44px;
  display: flex;
  align-items: center;
  position: relative;
}
.tabs .tabs-items .tabs-item span {
  display: block;
  position: relative;
  left: 0;
  transition: 0.3s;
}
.tabs .tabs-items .tabs-item .arrow-right {
  opacity: 0;
  left: 0;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.tabs .tabs-items .tabs-item:first-of-type {
  margin: 0;
}
.tabs .tabs-item.active span {
  color: #ffc806;
  left: 45px;
}
.tabs .tabs-item.active .arrow-right {
  left: 0px;
  opacity: 1;
}
.tabs .tabs-item:hover span {
  color: #ffc806;
  left: 45px;
}
.tabs .tabs-item:hover .arrow-right {
  left: 0px;
  opacity: 1;
}
.tabs .tabs-content-item {
  position: relative;
  opacity: 0;
  visibility: hidden;
  bottom: -25px;
  transition: 0.3s;
  height: 0;
}
.tabs .tabs-content-item.active {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  height: auto;
}

.header {
  margin: 50px 0 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header {
    margin: 20px 0 0;
  }
}
.header .header-container-top {
  width: 1200px;
  margin: 0 auto;
}
@media screen and (max-width: 1229px) {
  .header .header-container-top {
    width: 100%;
    padding: 0 20px;
    overflow-x: hidden;
  }
}
.header .header-container-top .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-container-top .header-wrapper .logo img {
  width: 178px;
  height: 70px;
}
@media screen and (max-width: 768px) {
  .header .header-container-top .header-wrapper .logo img {
    width: 121px;
    height: 48px;
  }
}
.header .header-container-top .header-wrapper .menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 1229px) {
  .header .header-container-top .header-wrapper .menu {
    display: none;
  }
}
.header .header-container-top .header-wrapper .menu .nav .item {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  margin-right: 47px;
  color: #25313b;
}
.header .header-container-top .header-wrapper .menu .language {
  position: relative;
  z-index: 2;
  border: 1px solid #efefef;
  border-radius: 6px;
}
.header .header-container-top .header-wrapper .menu .language__items {
  display: none;
  list-style: none;
  position: absolute;
  top: 35px;
  left: 0;
  width: 100%;
}
.header .header-container-top .header-wrapper .menu .language__items_active {
  opacity: 1;
  display: block;
}
.header .header-container-top .header-wrapper .menu .language__item {
  opacity: 1;
  height: auto;
  padding: 7px 11px 9px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #25313b;
  font-weight: 500;
}
.header .header-container-top .header-wrapper .menu .language__item .arrow {
  margin-left: 5px;
}
.header .header-container-top .header-wrapper .menu .language__item a {
  display: block;
  width: 100%;
  color: #000;
}
.header .header-container-top .header-wrapper .menu .language__item_active {
  background-color: transparent;
  display: flex;
  align-items: center;
}
.header .header-main {
  padding: 320px 0 240px;
}
@media screen and (max-width: 1229px) {
  .header .header-main {
    display: none;
  }
}
.header .header-main .info {
  width: 594px;
}
.header .header-main .info .subtitle {
  margin-top: 60px;
}
@media screen and (max-width: 768px) {
  .header .header-main .info .subtitle {
    margin-top: 25px;
  }
}
.header .header-main .img-block img {
  position: absolute;
  right: 0;
  top: 50px;
}

.expertise {
  margin-top: 200px;
  position: relative;
  overflow: hidden;
}
.expertise .expertise-wrapper .title,
.expertise .expertise-wrapper .subtitle {
  text-align: center;
}
.expertise .expertise-wrapper .subtitle {
  margin: 40px auto 0;
  max-width: 889px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .subtitle {
    margin: 25px auto 0;
  }
}
.expertise .expertise-wrapper .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .heading {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.expertise .expertise-wrapper .heading .border {
  display: block;
  width: 87px;
  height: 4px;
  background: #69a8fb;
  margin-top: 29px;
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .heading .border {
    display: none;
  }
}
.expertise .expertise-wrapper .name {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #25313b;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .name {
    font-size: 14px;
    line-height: 25px;
  }
}
.expertise .expertise-wrapper .industries-wrapper {
  margin-top: 90px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .industries-wrapper {
    flex-direction: column;
    margin-top: 60px;
  }
}
.expertise .expertise-wrapper .industries-wrapper .items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px 155px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .industries-wrapper .items {
    gap: 15px;
    margin-top: 25px;
  }
}
.expertise .expertise-wrapper .industries-wrapper .items .item {
  width: 157px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .industries-wrapper .items .item {
    width: 116px;
    text-align: center;
  }
}
.expertise .expertise-wrapper .industries-wrapper .items .item .icon {
  width: 98px;
  height: 86px;
}
.expertise .expertise-wrapper .industries-wrapper .items .item .name {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #25313b;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .industries-wrapper .items .item .name {
    font-size: 14px;
    line-height: 25px;
    text-align: center;
  }
}
.expertise .expertise-wrapper .technologies-wrapper {
  margin-top: 180px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
}
.expertise .expertise-wrapper .technologies-wrapper .bg-desktop {
  position: absolute;
  top: 513px;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper .bg-desktop {
    display: none;
  }
}
.expertise .expertise-wrapper .technologies-wrapper .bg-mobile {
  position: absolute;
  left: 0;
  top: 600px;
  display: none;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper .bg-mobile {
    display: block;
  }
}
.expertise .expertise-wrapper .technologies-wrapper .heading {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper .heading {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
.expertise .expertise-wrapper .technologies-wrapper .items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 28px 66px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper .items {
    margin-top: 43px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
  }
}
.expertise .expertise-wrapper .technologies-wrapper .items .item {
  text-align: center;
  width: 77px;
}
.expertise .expertise-wrapper .technologies-wrapper .items .item .name {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #25313b;
  margin-top: 8px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .technologies-wrapper .items .item .name {
    font-size: 16px;
    line-height: 28px;
  }
}
.expertise .expertise-wrapper .services-wrapper {
  margin-top: 235px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper {
    flex-direction: column;
    margin-top: 75px;
  }
}
.expertise .expertise-wrapper .services-wrapper .bg-desktop {
  position: absolute;
  left: -15px;
  bottom: 370px;
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .bg-desktop {
    display: none;
  }
}
.expertise .expertise-wrapper .services-wrapper .bg-mobile {
  position: absolute;
  left: 0px;
  bottom: 800px;
  z-index: -1;
  display: none;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .bg-mobile {
    display: block;
  }
}
.expertise .expertise-wrapper .services-wrapper .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 78px 36px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .items {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 75px;
    gap: 40px 23px;
    margin-top: 43px;
  }
}
.expertise .expertise-wrapper .services-wrapper .items .item {
  width: 255px;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .items .item {
    width: 180px;
  }
}
.expertise .expertise-wrapper .services-wrapper .items .item .name {
  margin: 24px 0;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .items .item .name {
    margin: 13px 0;
  }
}
.expertise .expertise-wrapper .services-wrapper .items .item .paragraph {
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  color: #25313b;
}
@media screen and (max-width: 768px) {
  .expertise .expertise-wrapper .services-wrapper .items .item .paragraph {
    font-size: 14px;
    line-height: 22px;
  }
}

.terms-of-work {
  margin-top: 267px;
  position: relative;
}
.terms-of-work .title {
  text-align: center;
}
.terms-of-work .terms-of-work-wrapper .side-bar-img {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -200px;
}
.terms-of-work .terms-of-work-wrapper .tabs {
  display: flex;
  justify-content: space-between;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content {
  width: 70%;
  margin-top: 75px;
  margin-left: 200px;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-one .wrap-one-items {
  margin-top: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-one .wrap-one-items .item {
  border: 2px solid #efefef;
  width: 310px;
  position: relative;
  text-align: center;
  padding: 60px 30px 58px;
  border-radius: 20px;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-one .wrap-one-items .item .icon {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -50px;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-one .wrap-one-items .item .name {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #25313b;
  margin: 40px auto 20px;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-one .wrap-one-items .item .paragraph {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #25313b;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items {
  margin-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 52px 78px;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item {
  border: 2px solid #efefef;
  border-radius: 20px;
  padding: 43px 24px 0;
  text-align: center;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item .name {
  font-size: 24px;
  line-height: 36px;
  font-weight: 600;
  color: #25313b;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item .starting {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #25313b;
  margin-top: 5px;
  display: block;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item .bg-price {
  position: relative;
  display: block;
  margin: 0 auto;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item .bg-price img {
  display: block;
  display: block;
  margin: 0 auto;
}
.terms-of-work .terms-of-work-wrapper .tabs .tabs-content .wrap-two .wrap-two-items .item .bg-price .price {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%);
  display: block;
  color: #69a8fb;
  font-size: 40px;
  line-height: 60px;
  font-weight: 600;
}

.about-us {
  padding: 205px 0;
  position: relative;
  overflow: hidden;
}
.about-us .title {
  text-align: center;
}
.about-us .side-bar-img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.about-us .bg-desktop {
  position: absolute;
  top: 200px;
  left: 0;
  z-index: -1;
}
.about-us .about-us-wrapper .tabs {
  display: flex;
  justify-content: space-between;
}
.about-us .about-us-wrapper .tabs .tabs-items {
  margin: 236px 0 0 150px;
  width: 40%;
}
.about-us .about-us-wrapper .tabs .tabs-content {
  width: 60%;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one {
  position: relative;
  margin: 200px 0 0 50px;
  min-height: 500px;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .border-one {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .border-two {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
  top: 50px;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .item {
  position: absolute;
  text-align: center;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .item .name {
  margin-top: 10px;
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .item-one {
  top: 0;
  left: 50px;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .item-two {
  top: 0;
  right: 50px;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-one .item-three {
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-two .wrap-two-item {
  text-align: center;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-two .wrap-two-item .name {
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
  color: #25313b;
  margin-top: 10px;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-two .wrap-two-item .position {
  font-size: 16px;
  line-height: 29px;
  font-weight: 400;
  color: #69a8fb;
  display: block;
}
.about-us .about-us-wrapper .tabs .tabs-content .tabs-content-item .wrap-two .wrap-two-item .paragraph {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #25313b;
  margin-top: 10px;
  max-width: 236px;
}

.contact-us {
  position: relative;
}
@media screen and (max-width: 1229px) {
  .contact-us {
    margin-top: 100px;
  }
}
.contact-us .title {
  text-align: center;
}
.contact-us .bg-left {
  position: absolute;
  left: 0;
  top: -500px;
}
@media screen and (max-width: 1229px) {
  .contact-us .bg-left {
    display: none;
  }
}
.contact-us .contact-us-box {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box {
    flex-direction: column;
    margin-top: 45px;
  }
}
.contact-us .contact-us-box .info {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .info {
    width: 100%;
  }
}
.contact-us .contact-us-box .info .title-info {
  font-size: 45px;
  line-height: 80px;
  font-weight: 600;
  color: #25313b;
  margin-bottom: 23px;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .info .title-info {
    font-size: 28px;
    line-height: 50px;
    margin-bottom: 19px;
  }
}
.contact-us .contact-us-box .info .paragraph,
.contact-us .contact-us-box .info .addres,
.contact-us .contact-us-box .info .tel {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #25313b;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .info .paragraph,
  .contact-us .contact-us-box .info .addres,
  .contact-us .contact-us-box .info .tel {
    font-size: 16px;
    line-height: 28px;
  }
}
.contact-us .contact-us-box .info .addres {
  margin: 40px 0;
  display: block;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .info .addres {
    margin: 20px 0;
  }
}
.contact-us .contact-us-box .info .name {
  font-size: 22px;
  line-height: 40px;
  font-weight: 600;
  color: #25313b;
}
.contact-us .contact-us-box .info .tel {
  font-weight: 500;
  margin-top: 8px;
}
.contact-us .contact-us-box .form {
  display: flex;
  flex-direction: column;
  background: rgba(163, 196, 240, 0.3019607843);
  padding: 52px 40px;
  width: 621px;
  border-radius: 20px;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .form {
    width: 100%;
    margin-top: 40px;
    padding: 36px 24px;
  }
}
.contact-us .contact-us-box .form .input {
  border: 1px solid #d4deda;
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px 24px 18px;
  color: #a7aca3;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  outline: none;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .form .input {
    padding: 20px 14px;
    font-size: 14px;
    line-height: 25px;
  }
}
.contact-us .contact-us-box .form .input::placeholder {
  color: #a7aca3;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .form .input::placeholder {
    font-size: 14px;
    line-height: 25px;
  }
}
.contact-us .contact-us-box .form .textarea {
  height: 164px;
  resize: none;
}
.contact-us .contact-us-box .form .button-send {
  background: #69a8fb;
  text-align: center;
  padding: 12px 0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .contact-us .contact-us-box .form .button-send {
    font-size: 16px;
    line-height: 28px;
  }
}

.footer {
  background: #25313b;
  margin-top: 165px;
}
@media screen and (max-width: 768px) {
  .footer {
    margin-top: 100px;
  }
}
.footer .footer-wrapper-top {
  padding: 66px 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top {
    flex-direction: column;
    padding: 46px 0 38px;
  }
}
.footer .footer-wrapper-top .block-title {
  font-size: 20px;
  line-height: 36px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-title {
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 32px;
  }
}
.footer .footer-wrapper-top .block-one {
  max-width: 258px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-one {
    max-width: 100%;
    text-align: center;
  }
}
.footer .footer-wrapper-top .block-one .paragraph {
  font-size: 16px;
  line-height: 29px;
  color: #ffffff;
  font-weight: 400;
  margin-top: 35px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-one .paragraph {
    margin-top: 25px;
  }
}
.footer .footer-wrapper-top .block-two,
.footer .footer-wrapper-top .block-three {
  width: 255px;
}
.footer .footer-wrapper-top .block-two .item,
.footer .footer-wrapper-top .block-three .item {
  margin-bottom: 13px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-two .item,
  .footer .footer-wrapper-top .block-three .item {
    margin-bottom: 5px;
  }
}
.footer .footer-wrapper-top .block-two .item .name,
.footer .footer-wrapper-top .block-three .item .name {
  font-size: 16px;
  line-height: 29px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6980392157);
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-two .item .name,
  .footer .footer-wrapper-top .block-three .item .name {
    font-size: 14px;
    line-height: 25px;
  }
}
.footer .footer-wrapper-top .block-two .item .date,
.footer .footer-wrapper-top .block-three .item .date {
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5019607843);
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-two .item .date,
  .footer .footer-wrapper-top .block-three .item .date {
    font-size: 12px;
    line-height: 21px;
  }
}
.footer .footer-wrapper-top .block-two .item:last-of-type,
.footer .footer-wrapper-top .block-three .item:last-of-type {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-two {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-three {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-four {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-four .block-title {
    margin-bottom: 20px;
  }
}
.footer .footer-wrapper-top .block-four .items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px 24px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-four .items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer .footer-wrapper-top .block-four .items .item-mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-four .items .item-mobile {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-top .block-four .items .item img {
    width: 75px;
    height: 75px;
  }
}
@media screen and (max-width: 400px) {
  .footer .footer-wrapper-top .block-four .items .item img {
    width: 70px;
    height: 70px;
  }
}
@media screen and (max-width: 389px) {
  .footer .footer-wrapper-top .block-four .items .item img {
    width: 65px;
    height: 65px;
  }
}
.footer .border {
  height: 1px;
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  display: block;
}
.footer .footer-wrapper-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  position: relative;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-bottom {
    padding: 28px 0 80px;
  }
}
.footer .footer-wrapper-bottom .item {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-bottom .item {
    font-size: 14px;
    line-height: 25px;
  }
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-bottom .middle-part {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 65px;
  }
}
.footer .footer-wrapper-bottom .right-part .item {
  margin-left: 24px;
}
@media screen and (max-width: 768px) {
  .footer .footer-wrapper-bottom .right-part .item {
    margin-left: 15px;
  }
}
.footer .footer-wrapper-bottom .right-part .item:first-of-type {
  margin: 0;
}/*# sourceMappingURL=index.css.map */