.exhibition-exponents {
  margin-top: 60px;

  @media screen and (max-width: $media-1100) {
    margin-top: 30px;
  }

  .content {
    .title-black {
      max-width: 440px;

      @media screen and (max-width: $media-1100) {
        max-width: 280px;
      }
    }

    &__items {
      margin-top: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: $media-1100) {
        margin-top: 30px;
        flex-direction: column;
      }

      &_item {
        width: 540px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media screen and (max-width: $media-1100) {
          width: 100%;
          justify-content: center;
          align-items: center;
        }

        @media screen and (max-width: $media-500) {
          flex-direction: column;
        }

        .img {
          max-width: 255px;

          @media screen and (max-width: $media-1100) {
            margin-right: 30px;
          }

          @media screen and (max-width: $media-500) {
            max-width: 100%;
            margin: 0;
          }

          img {
            width: 255px;
            display: block;

            @media screen and (max-width: $media-500) {
              width: 100%;
            }
          }
        }

        .text {
          max-width: 255px;

          @media screen and (max-width: $media-500) {
            max-width: 100%;
            margin-top: 20px;
            text-align: center;
          }

          h6 {
            font-size: 24px;
            line-height: 24px;
            font-weight: 400;
            color: #000;

            @media screen and (max-width: $media-500) {
              font-size: 20px;
              line-height: 20px;
            }
          }

          p {
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
            color: #646464;
            max-width: 255px;
            margin-top: 20px;

            @media screen and (max-width: $media-500) {
              max-width: 100%;
              margin-top: 10px;
            }
          }
        }
      }

      &_item:last-of-type {
        @media screen and (max-width: $media-1100) {
          margin-top: 30px;
        }
      }
    }
  }
}
