.exhibition-photos-videos {
  margin-top: 120px;

  @media screen and (max-width: $media-1100) {
    margin-top: 60px;
  }

  .content {
    .title-black {
      max-width: 415px;

      @media screen and (max-width: $media-1100) {
        max-width: 260px;
      }
    }

    &__videos {
      margin-top: 60px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;

      @media screen and (max-width: $media-1100) {
        grid-template-columns: 1fr;
        margin-top: 30px;
      }

      &_item {
        position: relative;
        width: 540px;

        @media screen and (max-width: $media-768) {
          width: 100%;
        }

        img {
          width: 100%;
        }

        .play {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: 0.3s;

          &:hover {
            transform: translate(-50%, -50%) scale(1.1);
          }
        }

        .text {
          position: absolute;
          left: 40px;
          bottom: 40px;
          font-size: 18px;
          line-height: 18px;
          font-weight: 400;
          color: #fff;
          max-width: 404px;

          @media screen and (max-width: $media-500) {
            left: 10px;
            bottom: 20px;
            max-width: 100%;
            padding: 10px;
          }
        }
      }
    }

    &__photos {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;

      @media screen and (max-width: $media-1100) {
        grid-template-columns: 1fr 1fr;
      }

      @media screen and (max-width: $media-500) {
        grid-template-columns: 1fr;
      }

      &_item {
        img {
          width: 350px;

          @media screen and (max-width: $media-768) {
            width: 100%;
          }
        }
      }
    }
  }
}
