.exhibition-about-event {
  margin-top: 85px;

  @media screen and (max-width: $media-1100) {
    margin-top: 30px;
  }

  .title-black {
    max-width: 310px;

    @media screen and (max-width: $media-1100) {
      max-width: 200px;
    }
  }

  .main-img {
    margin-top: 25px;
    width: 100%;
    display: block;
  }

  .paragraph {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    font-weight: 400;
    max-width: 1049px;
    margin-top: 25px;

    @media screen and (max-width: $media-1100) {
      margin-top: 15px;
    }
  }

  .paragraph-black {
    font-size: 18px;
    line-height: 21px;
    color: #000;
    font-weight: 700;
    max-width: 1049px;
    margin-top: 25px;
  }
}
