.nav-blog-main {
  margin-top: 25px;

  .content {
    .title-black {
      max-width: 80px;

      @media screen and (max-width: $media-1100) {
        max-width: 60px;
      }
    }

    .advertising-blocks-mobile {
      display: none;

      @media screen and (max-width: $media-1100) {
        display: block;
      }
    }
  }
}
