.nav-blog-last-entries {
  margin-top: 120px;

  @media screen and (max-width: $media-1100) {
    margin-top: 60px;
  }

  .content {
    .title-black {
      max-width: 302px;

      @media screen and (max-width: $media-1100) {
        max-width: 190px;
      }
    }

    .advertising-blocks-mobile {
      display: none;

      @media screen and (max-width: $media-1100) {
        display: block;
      }
    }
  }
}

.gray-back {
  background: #f6f6f6;
  padding: 60px 0;
}

.last-item {
  margin: 0;
}
