.nav-blog-last-entries {
  margin-top: 120px;

  .content {
    .title-black {
      max-width: 302px;
    }
  }
}

.gray-back {
  background: #f6f6f6;
  padding: 60px 0;
}

.last-item {
  margin: 0;
}
