.nav-advice-main {
  margin-top: 25px;

  .title-black {
    max-width: 260px;

    @media screen and (max-width: $media-768) {
      max-width: 160px;
    }
  }

  .main-block {
    margin-top: 95px;
    background: #f6f6f6;
    padding: 60px 70px 67px 95px;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: $media-1100) {
      flex-direction: column;
      margin-top: 30px;
    }

    @media screen and (max-width: $media-768) {
      padding: 20px;
    }

    &__left {
      max-width: 541px;

      @media screen and (max-width: $media-1100) {
        max-width: 100%;
      }

      span {
        color: #adadad;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
      }

      .name {
        font-size: 40px;
        line-height: 40px;
        font-weight: 700;
        color: #000;
        border-bottom: 1px solid #8ba529;
        padding-bottom: 20px;
        max-width: 250px;
        margin-top: 30px;

        @media screen and (max-width: $media-500) {
          font-size: 24px;
          line-height: 24px;
        }
      }

      .paragraph {
        color: #000;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin-top: 20px;

        @media screen and (max-width: $media-500) {
          margin-top: 10px;
        }
      }

      .list-name {
        margin-top: 40px;
        display: block;
        color: #000;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;

        @media screen and (max-width: $media-500) {
          margin-top: 20px;
        }
      }

      .items {
        margin-top: 30px;

        @media screen and (max-width: $media-500) {
          margin-top: 20px;
        }

        .item {
          margin-left: 20px;
          color: #000;
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          position: relative;
          display: flex;
          align-items: center;

          @media screen and (max-width: 400px) {
            font-size: 14px;
          }

          &::after {
            content: "";
            width: 5px;
            height: 5px;
            background: #000;
            border-radius: 50%;
            display: block;
            position: absolute;
            left: -12px;
          }
        }
      }

      .bottom-img {
        margin-top: 70px;
        display: flex;
        align-items: center;

        @media screen and (max-width: $media-768) {
          flex-direction: column;
          margin-top: 40px;
          align-items: center;
        }

        img {
          margin-right: 30px;

          @media screen and (max-width: $media-768) {
            margin: 20px 0 0;
          }
        }
      }
    }

    &__right {
      max-width: 357px;

      @media screen and (max-width: $media-1100) {
        max-width: 100%;
        text-align: center;
      }

      .img {
        display: block;
        margin-top: -126px;

        @media screen and (max-width: $media-1100) {
          margin-top: 30px;
        }

        img {
          @media screen and (max-width: $media-500) {
            width: 100%;
          }
        }
      }

      .paragraph {
        color: #000;
        font-size: 18px;
        line-height: 21px;
        font-weight: 400;
        margin-top: 35px;
      }

      .author {
        color: #adadad;
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        display: block;
        margin-top: 30px;
      }
    }
  }
}
