.reviews {
  padding: 60px 0;

  @media screen and (max-width: $media-1100) {
    padding: 30px 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .button-gray {
      @media screen and (max-width: $media-1100) {
        display: none;
      }
    }
  }

  &__middle {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $media-1100) {
      flex-direction: column;
      margin-top: 0;
    }

    &_item {
      position: relative;

      .play {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s;

        &:hover {
          transform: translate(-50%, -50%) scale(1.1);
        }
      }

      .img {
        width: 350px;

        @media screen and (max-width: $media-1100) {
          margin-top: 30px;
          width: 100%;
        }
      }
    }
  }

  &__bottom {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $media-1100) {
      display: none;
    }

    &_item {
      max-width: 255px;
      position: relative;
      transition: 0.3s;

      .translator {
        background: #fff;
        padding: 5px;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        max-height: 24px;
      }

      .item-top {
        background: #f0f0f0;
        padding: 15px 0 15px 15px;
        display: flex;
        align-items: center;

        .info {
          margin-left: 20px;

          .info-name {
            font-size: 16px;
            line-height: 16px;
            color: #000;
            font-weight: 400;
            display: block;
          }

          .info-paragraph {
            color: #646464;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            display: block;
          }
        }
      }

      .item-text {
        margin-top: 20px;
        display: block;

        .text-top-title {
          display: block;
          font-size: 16px;
          line-height: 16px;
          color: #000;
          font-weight: 400;
          transition: 0.3s;

          &:hover {
            color: $color-green;
          }
        }

        .text-paragraph {
          margin-top: 20px;
          font-size: 14px;
          color: #646464;
          line-height: 17px;
          font-weight: 400;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          height: 50px;
          overflow: hidden;
        }

        .text-bottom {
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            color: #adadad;
            font-size: 14px;
            line-height: 14px;
            font-weight: 400;
          }
        }
      }

      img {
        transition: 0.3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }

        .item-text {
          .text-top-title {
            color: $color-green;
          }
        }
      }
    }
  }

  &__bottom-mobile {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: $media-1100) {
      display: flex;
    }

    .reviews__bottom_item {
      max-width: 100%;
      margin-top: 30px;
      background: #f0f0f0;
      padding: 10px 13px;
      position: relative;

      .item-top {
        align-items: flex-start;
      }

      .info {
        margin: 15px 0 0 20px;

        .text-top-title {
          color: #646464;
          font-size: 13px;
          line-height: 15px;
          font-weight: 400;
          display: block;
          margin-top: 10px;
        }
      }

      .text-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          color: #adadad;
          font-size: 13px;
          line-height: 15px;
          font-weight: 400;
        }
      }
    }

    .button {
      width: 100%;
      margin-top: 30px;
    }
  }
}
